@import 'init';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme.
//
// Style guide: layouts

@import 'layout-3col/layout-3col';
@import 'layout-center/layout-center';
// The layout-swap isn't used in page.html.twig. You may wish to remove it to
// improve front-end performance.
@import 'layout-swap/layout-swap';

.layout-3col__full {
  //background-color: color(text-bg);
}
