@import "_settings";

header {
  padding: 1rem;
  max-width: 80vw;
}

.site-name {
  padding: 2.5rem;
  display: block;
  float: right;

  @include link ($white, $white, $white, $white);

  a {
    text-decoration: none;
    font-family: 'Neutron Demo', sans-serif;
    //font-family: 'Roboto Mono', monospace;
    text-transform: lowercase;
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 500;
    text-align: right;
    text-shadow: 3px 3px 3px $dark;
    display: block;
    max-width: 30rem;
    padding: 1rem;
    transition: text-shadow 1s ease-out;

    &:hover {
      text-shadow: 4px 4px 4px $dark;
    }
  }

}