/*---------------------------------------*/
/*** This CSS is for custom style ***/
/*---------------------------------------*/

/* Specific override for emc23flexi source-ordered content layout */

body#both #LoadFirst .row-fluid #sidebar[class*="span"],
body#left-only #LoadFirst .row-fluid #sidebar[class*="span"] {
  margin-left: 0 !important;
}
body#both #LoadFirst .row-fluid  #MiddleCol[class*="span"],
body#left-only #LoadFirst .row-fluid  #MiddleCol[class*="span"] {
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}


/*@font-face {
	font-family: Neutron Demo;
	src: local(" Neutron Demo"), url("../fonts/neutrond.ttf") format("truetype"), url("../fonts/neutrond.ttf") format("opentype");
	src: src: url("../fonts/NEUTRON187787.eot");
	font-weight: bold;
	font-style: normal;
	src: url(../fonts/neutrond.ttf) format("truetype-aat"), url(../fonts/neutrond.ttf) format("opentype"), src: url('NEUTRON187787.eot');
}*/

/*
div#sitename {
font-size: 2.0em;
font-weight: normal;
font-family: Neutron Demo;
text-shadow: 1px 1px 1px #333;
}
div#sitename a:link,
div#sitename a:visited,
div#sitename a:hover {
color:#333;
text-decoration:none;
}
div#sitename span.sup {
font-size: 0.5em;
vertical-align: top;
}

div.logo  {
display:inline-block;
float:left;
}
span.sitetitle {
display:inline-block;
float:left;
}
span.sitetitle a.brand {
padding-bottom:0;
}

span.sitedesc {
display:inline-block;
float:left;
}*/

h3.nav-header {margin:0;}

.navbar .brand {
  display: block;
  float: left;
  line-height: 1em;
  font-size: 1em;
  font-weight: 200;
  margin-left: -20px;
  padding: 10px 20px 0;
}






.container-fluid, .navbar-static-top .container-fluid, .navbar-fixed-top .container-fluid, .navbar-fixed-bottom .container-fluid {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

}




// font awesome fullscreen toggles
.fa.fa-arrows-alt,
.fa.fa-compress {
  font-size: 18px !important;
  color: #099;
  padding: 0.5em;
  background: rgba(0,0,0,0.7);
  margin-right: 0.5em;
  border-radius: 4px;
  position: fixed;
  top: 1em;
  left: 1em;
  cursor: pointer;
}

.fa.fa-compress {
  font-size: 24px !important;
  padding: 1em;
  background: rgba(0,0,0,1);
  display: none !important;
}

:-webkit-full-screen .fa.fa-compress,
:-moz-full-screen .fa.fa-compress,
:-ms-fullscreen .fa.fa-compress,
:fullscreen .fa.fa-compress {
  display: inline-block !important;
}

:-webkit-full-screen .fa.fa-arrows-alt,
:-moz-full-screen .fa.fa-arrows-alt,
:-ms-fullscreen .fa.fa-arrows-alt,
:fullscreen .fa.fa-arrows-alt {
  display: none !important;
}

:-moz-full-screen .fa.fa-compress {
  display: inline-block !important;
}

:-moz-full-screen .fa.fa-arrows-alt {
  display: none !important;
}

:-webkit-full-screen .fa.fa-compress {
  display: inline-block !important;
}

:-webkit-full-screen .fa.fa-arrows-alt {
  display: none !important;
}

:-ms-fullscreen .fa.fa-compress {
  display: inline-block !important;
}

:-ms-fullscreen .fa.fa-arrows-alt {
  display: none !important;
}

:fullscreen .fa.fa-compress {
  display: inline-block !important;
}

:fullscreen .fa.fa-arrows-alt {
  display: none !important;
}

// bootstrap override
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}


// append View Profile link
#mod_login_logoutform {

  .mod_login:after {
    content: "View Profile";
    text-transform: uppercase;
    background: #333;
    font-size: 85%;
    display: block;
    clear: both;
    color: #fff;
    padding: 0 5px;
    margin: -5px auto 5px;
    width: 70%;
  }

  .mod_login:hover {
    text-decoration: none;
  }

}


  // guest (not logged in) user specific rules
  .guest {

    // hide module and menu titles
    #sidebar .moduletable:first-child h3,
    #sidebar .moduletable:first-child .jwts_title {
      display:none;
    }
    .moduletable.shoutbox h3 {
      display:block;
    }


    // login form styles
    .userdata {
      padding-top: 15px;
    }
    .userdata #form-login-username input,
    .userdata #form-login-password input {
      //width: 100%;
      margin-bottom: 10px;
    }

    .add-on {
      float: left;
      padding: 0 1em 0 0.5em;
    }

    #form-login-submit {

      .btn {
        background: #003535;
        border: 1px solid #009999;
        color: white;
        font-size: 125%;
        font-weight: bold;
        text-align: center;
        margin: 2px;
        padding: 5px 25px;
        width: 100%;
      }

    }

  }






  @media (min-width:900px) {


    #LoadFirst.col-md-9 {
      width: 70%;
    }

    #MiddleCol.col-md-9 {
      width: 75%;
      max-width: 640px;
    }

    #sidebar.col-md-3 {
      width: 25%;
    }

    #sidebar-2.col-md-3 {
      width: 30%;

      .moduletable_menu {
        width: 40%;
        float: left;
      }

      .moduletable:nth-child(2) {
        width: 55%;
        float: right;
      }

      .inside > div:nth-child(3) {
        width: 55%;
        float: right;
      }

      .moduletable:nth-child(4) {
        clear: both;
      }

    }


  }


  @media all and (max-height: 700px) and (min-width:900px){
    #mainbody {
      min-height:500px;
    }
  }



  @media (max-width:899px) {
    #mainbody {}
  }






  @media (min-width:660px) and (max-width:899px) {

    .navbar {
      left: 0;
      right: 0;
      z-index: 1030;
      position: static;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 20px;
      top: 0;
    }


    #LoadFirst.span9{
      width:100% !important;
    }

    #sidebar.span3{
      width:30% !important;
    }
    #MiddleCol.span9{
      width:65% !important;
    }

    #sidebar-2.span3{
      float:none !important;
      width:100% !important;
      clear:both !important;
      margin:0 !important;
    }

    #sidebar-2.span3 .moduletable_menu,
    #sidebar-2.span3 .moduletable {
      width:50%;
      float:left;
    }

  }




  @media (min-width:480px) and (max-width:659px) {

    #sidebar.span3,
    #sidebar-2.span3{
      float:none !important;
      width:100% !important;
      clear:both !important;
      margin:0 !important;
    }

    #sidebar.span3 .module-wrapper,
    #sidebar-2.span3 .moduletable_menu,
    #sidebar-2.span3 .moduletable {
      width:50%;
      float:left;
    }



    .moduletable.shoutbox {
      float:right !important;
      width:50%;
    }


  }







  @media (max-width: 481px){

  }






  /* Lisa's Additions */











  @media all and (max-width:659px) {

    .compass {
      float:none;
    }

  }




  .btn-xs, .btn-group-xs > .btn {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
  }

