
/* Error Messages */
dl#system-message {clear:both;text-align: left;padding: 5px 20px;}
	dt.error { }
		dd.error { }	


		/*---------------------------------------*/

				/*** MODULES ***/

		/*---------------------------------------*/


		/* Breadcrumbs */
span.breadcrumbs.pathway {}
a.pathway {}
a.pathway:hover {}
span.breadcrumbs.pathway img {}


		/* Latest News */
ul.latestnews {
list-style-type: square;
padding: 0;
margin-left: 5px;
list-style-position: inside;
}
li.latestnews {}
a.latestnews {}

		/* Popular */
ul.mostread {
list-style-type: none;
padding: 0;
margin-left: 5px;
}
li.mostread {
background-image: url(../images/arrow.png);
background-repeat: no-repeat;
background-position: 0 6px;
padding-left: 12px;
}
a.mostread {}

		/* Sections */
ul.sections {
list-style-type: circle;
padding: 0;
margin-left: 10px;
list-style-position: inside;
}
ul.sections li {}

		/*** Polls ***/
		
/* Poll Title */
.moduletable h4 {padding: 0 5px;}
form.poll { padding: 0 5px;}
input#voteid
form.poll label {}
form.poll input.button a {}


		/*** Banner Module ***/

div.bannergroup{padding: 0 5px;}

/* Item Links */
div.banneritem a {}
div.banneritem a:hover {}


		/*** Advertisement Module - has Module Class Suffix _text ***/

div.bannergroup_text{padding: 0 5px;}

/* Featured Links Heading */
div.bannerheader {}

/* Item Links */
div.banneritem_text a {}
div.banneritem_text a:hover {}

/* Footer Links */
div.bannerfooter_text a {}
div.bannerfooter_text a:hover {}


div.feed_description {}
		
		

			/*** Login Module ***/
form#mod_loginform {
background: url(../images/trans.png) transparent center top repeat;
padding:0 20px;
}
			