##
# @copyright (C) 2012-2013 Open Source Matters, Inc.  All Rights Reserved.
##

###########################################
# ======= Enable the Rewrite Engine =======

RewriteEngine On

###########################################


###########################################
# ======== Remove multiple slashes ========

RewriteCond %{HTTP_HOST} !=""
RewriteCond %{THE_REQUEST} ^[A-Z]+\s//+(.*)\sHTTP/[0-9.]+$ [OR]
RewriteCond %{THE_REQUEST} ^[A-Z]+\s(.*/)/+\sHTTP/[0-9.]+$
RewriteRule .* http://%{HTTP_HOST}/%1 [R=301,L]

###########################################


###########################################
# ======== SEF URL Routing ========

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php

###########################################
