<phpunit bootstrap="bootstrap-test.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">administrator/</directory>
            <directory suffix=".php">components/</directory>
        </whitelist>
    </filter>
</phpunit>