		/*-----------------------------------*/
				/*** MENUS/NAVIGATION ***/
		/*---------------------------------------*/


@import "horzmenu_style.less";
				
		/* Shelf Horizontal Menu */
/*---------------------------------------
Note: Shelf Menu should be in Module Position 'emc23-shelf-nav'
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/

#shelf-nav ul li{}
#shelf-nav ul li a, 
#shelf-nav ul li a:visited {}
#shelf-nav ul li a:hover {}
#shelf-nav ul li:first-child a{}

#shelf-nav ul li.current a, 
#shelf-nav a#active_menu-nav {}
		
		/* Top Horizontal Menu */
/*---------------------------------------
Note: Top Menu should be in Module Position 'emc23-topnav'
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/

#nav ul li{background-color: #DFDFDF;}
#nav ul li a, 
#nav ul li a:visited {border-right:1px solid #F3F3F3;}
#nav ul li a:hover {background-color:#EBEBEB;}

#nav ul li.active a  {
color: #FFF;
background: #4B4B4B;
}

#nav ul li.active a ul li a  {}

#nav ul li:hover a, 
#nav ul li.iehover a {}
/* top level parent */
#nav ul li.parent a:after {content: " +";}
#nav ul li.parent li a:after {content: none;}

/* first sub-level list (tier 2 links) */
#nav ul li ul {}
#nav ul li:hover ul, #nav ul li.iehover ul {}
#nav ul li:hover ul li a, #nav ul li.iehover ul li a {border-bottom:1px solid #F3F3F3;background:#DFDFDF;color:#333;}
#nav ul li:hover ul li:hover a, #nav ul li.iehover ul li.iehover a {background-color:#EBEBEB;}
#nav ul li:hover ul li.active a {color: #FFF;
background: #4B4B4B;}
/* first sub-level parent */
#nav ul li li.parent a:after {content: " +";}
#nav ul li li.parent li a:after {content: none;}

/* Second sub-level list (tier 3 links)*/
#nav ul li:hover ul li ul, #nav ul li.iehover ul li ul {}
#nav ul li:hover ul li a, #nav ul li.iehover ul li a {}
#nav ul li:hover ul li a:hover, #nav ul li.iehover ul li a:hover {}
#nav ul li:hover ul li:hover ul, #nav ul li.iehover ul li.iehover ul {}

/* second sub-level parent */
#nav ul li li li.parent a:after {content: " +";}
#nav ul li li li.parent li a:after {content: none;}

				

		/* Footer Horizontal Centered Menu */
/*---------------------------------------
Note: Footer Menu should be in Module Position 'emc23-footer-nav'
---------------------------------------*/
			
#footer ul {
font-size: 85%;
color: #4B4B4B;
}

#footer ul li {border-right:1px dotted #DFDFDF;}

#footer ul li a,
#footer ul li a:visited {}	

#footer ul li:last-child {border-right:0px dotted #DFDFDF;}
#footer ul li a:hover {background-color:#EBEBEB;}	