<html>
    <head>
    <link rel=stylesheet href='style.css'>
    <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
    <script>
        var message = [];
        var gameForm =  ' Your Input:<input type="text" id="answer"> <input type ="button" id ="enter" onclick="yourMove()" value = "enter">';
        var stage = 1;
        var number = 1;
	    var irc_complete = false;
	    var email_complete = false;
	    var ftp_complete = false;
	    var complete = false;
	    var attempts = 9;
	    var message={};	    
	    var http_message; 
    </script>  
    <script src='messages.js'></script> 
	<script src='stages.js'></script>	    
    <script>      
        function stuff()
        {
            var output = document.getElementById("container");  // Get the content of the container element
            var input = document.getElementById("input_form");// Get the content of the input_form element
            var http = document.getElementById("http");// Get the content of the http element. This is where we show the percentage complete by displaying the ip address segments
            define_messages();
            output.innerHTML = message[1];// The first message is displayed
            input.innerHTML = gameForm;
         }  
        function yourMove()
        {
            output = document.getElementById("container");  //Duplicated code. How would you suggest it be refactored?
            input = document.getElementById("input_form"); 
            
            answer = document.getElementById("answer").value;
         
            define_stages();
            define_messages();// messages needs to be redifined each time because one of the messages is dynamic. Can you think of a better way?
           
           
           
           
            // After each stage is configured print to screen ////
            output.innerHTML = message[number];
            input.innerHTML= gameForm;
            if (stage > 1)
            {
                http.innerHTML = completed();
            }
        } //End of yourMove function
 ////////////////////////////////////////////////////////////////
//     Additional function to display the % of goal(ip address) complete
////////////////////////////////////////////////////////////////
    function completed()
    {
        http_message = "http://46.";
        
        if (email_complete == true)
        {
            http_message = http_message + "19.";
        }
        else 
        {
            http_message = http_message + "__.";
        };
        if (irc_complete == true){
            http_message = http_message + "37.";
            }
        else 
        {
            http_message = http_message + "__.";
        };
        if (ftp_complete == true)
        {
            http_message = http_message + "66";
        }
        else 
        {
        http_message = http_message + "__";
        };
        return http_message;
    }
    </script> 
</head>
    <body onload = "stuff()">

        <div id = "container"></div>
        <div id = "input_form"></div>
        <div id = "http"></div>        

    </body>
</html>
