/* Joomla Install Default WYSIWYG Editor
In Plugin Manager -> Editor - TinyMCE 2.0
Template CSS classes - YES (Default settings)
By default the Plugin looks for an editor.css file. If it cannot find one in the default template folder, it loads the editor.css file in the system template.

Any styles here need also exist in your template's main CSS files (with their properties and values) or they will have no effect in the front end.

Add properties and values to the rules here if you wish the back end to reflect what the user will see in the front end when their article is published. This is very helpful for non-experienced users.

View emc23flexiv2.3/html/editor_content.css for an example (included with BEEZ overrides)

*/

/* STYLES FOR JOOMLA! EDITOR (copied from templates/system/css/editor.css) */

body {
  font-family: Tahoma,Helvetica,Arial,sans-serif;
  font-size: 76%;
  line-height: 1.3em;
  color: #333;
  background: #fff;
}

h1 {
  font-family: Helvetica ,Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

h2 {
  font-family: Arial, Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

h3 {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #135cae;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
}

a:link, a:visited {
  font-weight: normal;
  color: #1b57b1;
  text-decoration: none;
}

a:hover {
  font-weight: normal;
  color: #00c;
  text-decoration: underline;
}

div.caption {
  padding: 0 10px 0 10px;
}
div.caption img {
  border: 1px solid #ccc;
}
div.caption p {
  font-size: .90em;
  color: #666;
  text-align: center;
}

hr#system-readmore {
  color: red;
  border: red dashed 1px;
}
hr.system-pagebreak {
  color: gray;
  border: gray dashed 1px;
}

/* END STYLES FOR JOOMLA! EDITOR */


/* STYLES FOR WYSIWYG Styles Drop Down */
