@import url('_horzmenu_style.css');
/* 
	-- INITIAL --
	by Eric Meyer - http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/ 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
/* remember to define focus styles! */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
a img {
  border: 0px;
}
/* 
	-- End INITIAL --
	v2.1, by Faruk Ates - www.kurafire.net
	Addendum by Robert Nyman - www.robertnyman.com 
*/
/* Basic typography */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 76%;
  line-height: 1.8;
  color: #000;
}
/* we set the font size to 76% to compensate for different browsers and operating systems. 76% tends to look like 12px on most screens and we set the line height equal to the height of an uppercase "M" character */
div {
  font-size: 1em;
}
/* Links */
a:hover {
  text-decoration: none;
}
/* Headings */
h1 {
  font-size: 2.0em;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0em;
}
h2 {
  font-size: 1.7em;
  margin: 1.5em 0;
  font-weight: normal;
}
h3 {
  font-size: 1.4em;
  margin: 1.5em 0;
  font-weight: normal;
}
h4 {
  font-size: 1.2em;
  margin: 1.5em 0;
  font-weight: bold;
}
h5 {
  font-size: 1.0em;
  margin: 1.5em 0;
  font-weight: bold;
}
h6 {
  font-size: 0.8em;
  margin: 1.5em 0;
  font-weight: bold;
}
/* Text styles */
p {
  margin: 1.5em 0;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
/* class attributes are added to these HTML elements so they appear in the "Styles" drop-down WYSIWYG editor - see editor.css for details */
.blockquote,
blockquote {
  margin: 10px;
  padding: 1em 2em;
  font-family: "Courier New", Courier, monospace;
}
.blog-featured blockquote {
  margin: 0 auto;
  width: 70%;
  padding: 1em;
  font-family: Arial, sans-serif;
}
.pre,
pre {
  font-family: monospace;
  font-size: 1.2em;
  margin: 10px;
  padding: 1em 2em;
  display: block;
}
.code,
code {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  white-space: pre;
  margin: 10px;
  padding: 0 5px;
}
.small {
  font-size: 85%;
  line-height: 1em;
}
/* Lists */
ol,
ul,
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
li > p {
  margin-top: 0.5em;
}
/* Tables */
table {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
table caption {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0 1.5em 0;
}
th {
  font-weight: bold;
  text-align: left;
}
td {
  font-size: 1em;
  vertical-align: top;
}
form table {
  font-size: 1.1em;
}
/* Horizontal rules */
/* clearing */
/*******************************************************************************
 * HACKS : Clearfix
 *
 * Clearfix provides a means to for an element to contain all its floated 
 * children even if it's not normally tall enough to do so. 
 * For more information on clearfix please see:
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  min-width: 0;
  display: inline-block;
  /* \*/
  display: block;
}
/* trigger hasLayout for IE7. Hide from IE Mac */
* html .clearfix {
  height: 1%;
}
/* Hide from IE Mac */
.clr,
.clear {
  clear: both;
}
/*---------------------------------------*/
/*** LAYOUT - MAIN CONTAINERS ***/
/*---------------------------------------*/
/* General site layout */
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*---------------------------------------
Note: Container Divs each have a nested div.inside for styling purposes. 
Padding, Margins, and Borders are added to the div.inside only. This ensures widths of parent divs do not fluctuate.
Unless specified, each div.inside has the same margin value of 20px.
To specify, add a parent div rule eg. #left div.inside {margin: 0px;}
---------------------------------------*/
div.inside {
  margin: 0;
}
/*---------------------------------------
Note: All elements in index.php are contained within a wrapper (div#wrapper).
---------------------------------------*/
div#wrapper {
  margin: 0 auto;
  /* center hack */
}
div#shelf {
  margin: 0 auto 20px;
  /* center hack */
}
/* Maincontent */
/* this container holds sidebar (left column content) and mainbody content. We load this container first for SEO Source Ordering purposes. We set the width of this container based upon the content layout logic. (see includes/template_config.php) */
/* this container holds the left column content. We load this container before we load sidebar-2 for SEO Source Ordering purposes */
/* this container holds the right column content */
/*  HEADER */
div#header {
  margin: 0 0 1em;
}
/*---------------------------------------*/
/***HEADER & LOGO***/
/*---------------------------------------*/
div#logo {
  float: right;
  margin: 20px 40px 0 0;
  padding: 0;
  text-align: left;
}
@media (max-width: 899px) {
  div#logo {
    float: left;
    margin: 1em 0 0 0;
  }
}
@media (max-width: 480px) {
  div#logo img {
    width: 100%;
  }
}
/* logo.png linked in index.php*/
#logo a img {
  display: block;
  float: left;
  position: relative;
  z-index: 100;
}
#logo div#sitetitle {
  display: block;
  margin: 0px 0 2px 60px !important;
  /* margin indents Site Title and Description*/
}
#logo div#sitedescription {
  display: block;
  margin: 0 0 2px 60px !important;
  /* margin indents Site Title and Description*/
}
/* -- Top module container -- */
/* div#top-module-1 div.moduletable, 
div#top-module-2 div.moduletable {
margin-bottom: 0px;
}  uncomment this for modules to be flush with header */
/* -- Breadcrumbs container -- */
/* -- Search container -- */
div#search {
  float: right;
  margin: 0 0 0 0;
  padding: 0;
}
/* -- Top horizontal nav container -- */
#nav {
  position: relative;
  margin: 0 auto;
  z-index: 900;
  float: left;
}
/* MAIN */
/*---------------------------------------
Note: Main content container includes divs MiddleCol, content-modules, mainbody, bottom-modules, sidebar, and sidebar-2
---------------------------------------*/
#BodyContent {
  margin: 0;
  text-align: left;
}
#LoadFirst {
  float: left;
}
/*---------------------------------------
Note: This Layout
The #MiddleCol container holds the mainbody content. 
We load this container before we load sidebar for SEO Source Ordering purposes.
We set the width of this container based upon the content layout logic. (see template_config.php) 
---------------------------------------*/
#MiddleCol {
  position: relative;
}
#both #MiddleCol {
  float: right;
}
#left-only #MiddleCol {
  float: right;
}
#right-only #MiddleCol {
  float: left;
}
#wide #MiddleCol {
  float: left;
}
#mainbody {
  overflow: hidden;
  margin-bottom: 85px /*height of messages module*/;
}
/* -- User Modules -- */
div#header-modules {
  margin: 0;
}
div#header-modules div.inside {
  margin: 0;
}
div#top-modules {
  margin: 0;
}
div#top-modules div.inside {
  margin: 00;
}
div#content-modules {
  margin: 0;
}
div#content-modules div.inside {
  margin: 00;
}
div#bottom-modules {
  margin: 0;
}
div#bottom-modules div.inside {
  margin: 0;
}
div#footer-modules {
  margin: 20px 0 0;
}
/*---------------------------------------
Note: To work out the widths of the teaser modules we are going to have to know how many are published in a row 
(up to four modules per row). See includes/template_config.php
---------------------------------------*/
div.count1 {
  width: 100%;
  float: left;
}
div.count2 {
  width: 50%;
  float: left;
}
div.count3 {
  width: 33.3%;
  float: left;
}
div.count4 {
  width: 25%;
  float: left;
}
/* LEFT COLUMN = sidebar */
/*---------------------------------------
Note: this container holds the  content. We load this container before we load the right column for SEO Source Ordering purposes.
---------------------------------------*/
#sidebar {
  float: left;
}
#sidebar div.inside {
  margin: 0;
}
#sidebar p {
  margin: 0;
}
/* RIGHT COLUMN = sidebar-2 */
#sidebar-2 {
  float: right;
}
#sidebar-2 div.inside {
  margin: 0;
}
#sidebar-2 p {
  margin: 0;
}
/* FOOTER */
#footer_nav {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
/* BANNER */
#banner {
  padding: 10px 0;
}
/*---------------------------------------*/
/*** ALL MODULES ***/
/*---------------------------------------*/
/*---------------------------------------*/
/*** MODULES with Style 'raw' or 'xhtml' - output as div.moduletable ***/
/*** MENU MODULES with Module Class Suffix _menu ***/
/*---------------------------------------*/
.moduletable,
.moduletable_menu,
.moduletable_text {
  margin: auto auto 20px auto;
  padding: 0 0 15px 0;
}
.custom {
  padding: 0 0 15px 0;
}
.moduletable h3,
.moduletable_menu h3,
.moduletable_text h3 {
  margin: 0;
  /* negative margins will compensate for padding on .moduletable or div.inside */
  padding: 5px 10px;
}
/*---------------------------------------*/
/*** MODULES with Style 'rounded' - output as div.module div div div ***/
/*** MENU MODULES with Module Class Suffix _menu ***/
/*---------------------------------------*/
.module,
.module_menu {
  margin: auto auto 10px auto;
  padding: 0;
}
.module div,
.module_menu div {
  margin: 0;
  padding: 0;
}
.module div div,
.module_menu div div {
  margin: 0;
  padding: 0;
}
.module div div div,
.module_menu div div div {
  margin: 0;
  padding: 0px 0px 15px 0px;
  /* the inner-most div gives padding to all content within, and aids in proper collapse of h3 if Module Title is turned off */
}
.module h3,
.module_menu h3 {
  margin: 0px;
  /* negative margins will compensate for padding on surrounding div */
  padding: 5px 10px;
}
.module div div div p:first-child {
  padding-top: 15px;
  /*when the module title is disabled*/
}
/*-----------------------------------*/
/*** MENUS/NAVIGATION ***/
/*---------------------------------------*/
/* shelf-nav Horizontal Menu */
/*---------------------------------------
Note: Top Menu should be in Module Position 'emc23-shelf-nav'
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#shelf-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 12px;
}
#shelf-nav ul li {
  float: left;
  margin: 0px;
  position: relative;
  text-align: right;
}
#shelf-nav ul li a,
#shelf-nav ul li a:visited {
  display: block;
  text-decoration: none;
  overflow: hidden;
  padding: 0 0 2px 10px;
  margin: 0 0 0 10px;
  height: 12px;
  line-height: 12px;
}
/* Top Horizontal Menu */
/*---------------------------------------
Note: Top Menu should be in Module Position 'emc23-topnav'
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#nav ul li {
  float: left;
  margin: 0px;
  position: relative;
}
#nav ul li a,
#nav ul li a:visited {
  display: block;
  text-decoration: none;
  overflow: hidden;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
/* top level parent */
/* first sub-level list (tier 2 links) */
#nav ul li ul {
  display: none;
}
#nav ul li:hover ul,
#nav ul li.iehover ul {
  /* This rule tells our submenu to appear on hover over parent */
  display: block;
  position: absolute;
  top: 30px;
  /* equal to li a height */
  left: -1px;
  width: 200px;
}
#nav ul li:hover ul li ul,
#nav ul li.iehover ul li ul {
  display: none;
}
#nav ul li:hover ul li a,
#nav ul li.iehover ul li a {
  display: block;
  width: 200px;
  padding: 0px;
  text-indent: 10px;
}
/* first sub-level parent */
/* Second sub-level list (tier 3 links)*/
#nav ul li:hover ul li:hover ul,
#nav ul li.iehover ul li.iehover ul {
  /* This rule tells our sub submenu to appear on hover over parent*/
  display: block;
  position: absolute;
  left: 201px;
  top: -1px;
}
/* second sub-level parent */
/* Footer Horizontal Centered Menu */
/*---------------------------------------
Note: Footer Menu should be in Module Position 'emc23-footer-nav'
---------------------------------------*/
#footer_nav ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
#footer_nav ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}
#footer_nav ul li a,
#footer_nav ul li a:visited {
  display: block;
  margin: 0;
  padding: 0 10px;
}
/*-----------------------------------*/
/*** navS/NAVIGATION ***/
/*---------------------------------------*/
/*-----------------------------------*/
/*** MENUS/NAVIGATION ***/
/*---------------------------------------*/
/* Left Column Vertical drop-down menu */
/*---------------------------------------
Note: Menu should be in Module Position 'emc23-left' with Module Class Suffix '_menu'
Output code is ul.menu etc.
---------------------------------------*/
/* 1st Level */
#footer-modules .moduletable > ul.nav,
#sidebar-2 ul.nav {
  border: 0;
  border-bottom: solid 0px #F3F3F3;
  list-style-type: none !important;
}
#footer-modules .moduletable > ul.nav > li,
#sidebar-2 ul.nav li {
  border-bottom: 1px solid #666;
}
#footer-modules .moduletable > ul.nav > li > a:link,
#footer-modules .moduletable > ul.nav > li > a:visited,
#sidebar-2 ul.nav li a:link,
#sidebar-2 ul.nav li a:visited {
  border-left: 10px solid #333;
  border-right: 10px solid #000;
  color: #ccc;
  background: url(../images/trans.png) transparent center top repeat;
}
#footer-modules .moduletable > ul.nav > li.active > a:link,
#footer-modules .moduletable > ul.nav > li.active > a:visited,
#sidebar-2 ul.nav li.active a:link,
#sidebar-2 ul.nav li.active a:visited {
  border-left: 10px solid #009999;
  border-right: 10px solid #00ffff;
  color: #00ffff;
}
#footer-modules .moduletable > ul.nav > li a:hover,
#footer-modules .moduletable > ul.nav > li a:active,
#footer-modules .moduletable > ul.nav > li a:focus,
#footer-modules .moduletable > ul.nav > li.active a:hover,
#footer-modules .moduletable > ul.nav > li.active a:active,
#footer-modules .moduletable > ul.nav > li.active a:focus,
#sidebar-2 ul.nav li a:hover,
#sidebar-2 ul.nav li a:active,
#sidebar-2 ul.nav li a:focus,
#sidebar-2 ul.nav li.active a:hover,
#sidebar-2 ul.nav li.active a:active,
#sidebar-2 ul.nav li.active a:focus {
  border-left: 10px solid #666;
  border-right: 10px solid #333;
  color: #00ffff;
}
.separator {
  background: #000;
  color: white;
}
#footer-modules .jwts_slider li {
  border-bottom: 1px dotted #666;
}
#sidebar-2 ul.menu li.parent a:after {
  content: " +";
}
#sidebar-2 ul.menu li.parent li a:after {
  content: none;
}
/* 2nd Level */
#sidebar ul.menu li ul {
  border: solid 0px #F3F3F3;
  border-top: solid 1px #F3F3F3;
}
#sidebar ul.menu li ul li {
  border-bottom: solid 1px #DFDFDF;
  background: none;
}
#sidebar ul.menu li ul li:last-child {
  border-bottom: solid 0px #DFDFDF;
}
#sidebar ul.menu li.active ul li a:link,
#sidebar ul.menu li.active ul li a:visited {
  border: 0;
  border-bottom: solid 0px #F3F3F3;
  background: #e8e8e8;
  font-weight: normal;
}
#sidebar ul.menu li.active ul li.active a:link,
#sidebar ul.menu li.active ul li.active a:visited {
  border: 0;
  color: #333;
  border-bottom: solid 1px #F3F3F3;
}
#sidebar ul.menu li.active ul li a:hover,
#sidebar ul.menu li.active ul li a:active,
#sidebar ul.menu li.active ul li a:focus {
  background: #666 !important;
  color: #fff !important;
}
#sidebar ul li.active ul li.active a:link,
#sidebar ul li.active ul li.active a:visited {
  font-weight: bold;
}
/* 3rd Level */
#sidebar ul.menu li ul li ul {
  border: 0 !important;
  background: #f5f5f5 !important;
}
#sidebar ul.menu li.active ul li.active ul li a:link,
#sidebar ul.menu li.active ul li.active ul li a:visited {
  background: #f5f5f5;
  border-bottom: solid 1px #F3F3F3;
  font-weight: normal;
}
#sidebar ul.menu li.active ul li.active ul li.active a:link,
#sidebar ul.menu li.active ul li.active ul li.active a:visited {
  font-weight: bold;
}
/* 4th Level */
#sidebar ul.menu li ul li ul li ul {
  border-top: 1px solid #DFDFDF !important;
}
#sidebar ul.menu li.active ul li.active ul li.active ul li a:link,
#sidebar ul.menu li.active ul li.active ul li.active ul li a:visited {
  font-weight: normal;
  border-bottom: 0px solid #DFDFDF;
  font-size: 0.9em;
  background: #ffffff url(../images/arrow.png) no-repeat 27px 7px;
  color: #444444;
}
#sidebar ul.menu li.active ul li.active ul li.active ul li.active a:link,
#sidebar ul.menu li.active ul li.active ul li.active ul li.active a:visited {
  font-weight: bold;
  color: #333;
}
/* 5th Level */
#sidebar ul.menu li ul li ul li ul li ul {
  border: solid 0px #eee !important;
  background: #fff !important;
}
#sidebar ul.menu li.active ul li.active ul li.active ul li.active ul li a:link,
#sidebar ul.menu li.active ul li.active ul li.active ul li.active ul li a:visited {
  font-weight: normal;
  font-size: 0.9em;
  background: #fff;
  border-bottom: solid 0px #DFDFDF;
}
#sidebar ul.menu li.active ul li.active ul li.active ul li.active ul li.active a:link,
#sidebar ul.menu li.active ul li.active ul li.active ul li.active ul li.active a:visited {
  font-weight: bold;
  color: #333;
}
/* Right Column Vertical drop-down menu */
/*---------------------------------------
Note: Menu should be in Module Position 'emc23-right' with Module Class Suffix '_menu'
Output code is ul.menu etc.
---------------------------------------*/
/* 1st Level */
#sidebar ul.nav {
  border: 0;
  border-bottom: solid 0px #F3F3F3;
  list-style-type: none !important;
}
#sidebar ul.nav li {
  border-bottom: dotted 1px #333;
}
#sidebar ul.nav li a:link,
#sidebar ul.nav li a:visited {
  display: block;
  text-decoration: none;
}
#sidebar ul.nav li.active a:link,
#sidebar ul.nav li.active a:visited {
  font-weight: bold;
  background: #DFDFDF;
  color: #000;
}
#sidebar ul.nav li a:hover,
#sidebar ul.nav li a:active,
#sidebar ul.nav li a:focus,
#sidebar ul.nav li.active a:hover,
#sidebar ul.nav li.active a:active,
#sidebar ul.nav li.active a:focus {
  background: #DFDFDF;
  color: #000;
}
/* 2nd Level */
#sidebar-2 ul.menu li ul {
  border: solid 0px #F3F3F3;
}
#sidebar-2 ul.menu li ul li {
  border-bottom: solid 1px #DFDFDF;
}
#sidebar-2 ul.menu li ul li:last-child {
  border-bottom: solid 0px #DFDFDF;
}
#sidebar-2 ul.menu li.active ul li a:link,
#sidebar-2 ul.menu li.active ul li a:visited {
  border: 0;
  border-bottom: solid 0px #F3F3F3;
  background: #e8e8e8;
  font-weight: normal;
}
#sidebar-2 ul.menu li.active ul li.active a:link,
#sidebar-2 ul.menu li.active ul li.active a:visited {
  border: 0;
  color: #333;
  border-bottom: solid 1px #F3F3F3;
}
#sidebar-2 ul.menu li.active ul li a:hover,
#sidebar-2 ul.menu li.active ul li a:active,
#sidebar-2 ul.menu li.active ul li a:focus {
  background: #666 !important;
  color: #fff !important;
}
#sidebar-2 ul li.active ul li.active a:link,
#sidebar-2 ul li.active ul li.active a:visited {
  font-weight: bold;
}
/* 3rd Level */
#sidebar-2 ul.menu li ul li ul {
  border: 0 !important;
  background: #f5f5f5 !important;
}
#sidebar-2 ul.menu li.active ul li.active ul li a:link,
#sidebar-2 ul.menu li.active ul li.active ul li a:visited {
  background: #f5f5f5;
  border-bottom: solid 1px #F3F3F3;
  font-weight: normal;
}
#sidebar-2 ul.menu li.active ul li.active ul li.active a:link,
#sidebar-2 ul.menu li.active ul li.active ul li.active a:visited {
  font-weight: bold;
}
/* 4th Level */
#sidebar-2 ul.menu li ul li ul li ul {
  border-top: 1px solid #DFDFDF !important;
}
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li a:link,
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li a:visited {
  font-weight: normal;
  border-bottom: 0px solid #DFDFDF;
  font-size: 0.9em;
  background: #ffffff url(../images/arrow.png) no-repeat 27px 7px;
  color: #444444;
}
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li.active a:link,
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li.active a:visited {
  font-weight: bold;
  color: #333;
}
/* 5th Level */
#sidebar-2 ul.menu li ul li ul li ul li ul {
  border: solid 0px #eee !important;
  background: #fff !important;
}
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li.active ul li a:link,
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li.active ul li a:visited {
  font-weight: normal;
  font-size: 0.9em;
  background: #fff;
  border-bottom: solid 0px #DFDFDF;
}
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li.active ul li.active a:link,
#sidebar-2 ul.menu li.active ul li.active ul li.active ul li.active ul li.active a:visited {
  font-weight: bold;
  color: #333;
}
/* Left Column Vertical drop-down nav */
/*---------------------------------------
Note: nav should be in Module Position 'emc23-left' with Module Class Suffix '_nav'
Output code is ul.nav etc.
---------------------------------------*/
/* 1st Level */
#footer-modules ul.nav,
#sidebar ul.nav {
  margin: 0;
  padding: 0;
}
#footer-modules ul.nav li,
#sidebar ul.nav li {
  margin: 0;
}
#footer-modules ul.nav li a:link,
#footer-modules ul.nav li a:visited,
#sidebar ul.nav li a:link,
#sidebar ul.nav li a:visited {
  display: block;
  padding: 3px 10px 3px 10px;
}
/* 2nd Level */
#sidebar ul.nav li ul {
  margin: 0;
  padding: 0;
}
#sidebar ul.nav li ul li {
  margin: 0;
  padding: 0;
}
#sidebar ul.nav li.active ul li a:link,
#sidebar ul.nav li.active ul li a:visited {
  padding: 3px 10px 3px 20px;
}
#sidebar ul.nav li.active ul li.active a:link,
#sidebar ul.nav li.active ul li.active a:visited {
  padding: 3px 10px 3px 20px;
}
/* 3rd Level */
#sidebar ul.nav li ul li ul {
  padding-bottom: 0;
  padding: 0;
}
#sidebar ul.nav li.active ul li.active ul li a:link,
#sidebar ul.nav li.active ul li.active ul li a:visited {
  padding: 3px 10px 3px 30px;
  font-weight: normal;
}
/* 4th Level */
#sidebar ul.nav li.active ul li.active ul li.active ul li a:link,
#sidebar ul.nav li.active ul li.active ul li.active ul li a:visited {
  padding: 3px 10px 3px 40px;
}
/* 5th Level */
#sidebar ul.nav li.active ul li.active ul li.active ul li.active ul li a:link,
#sidebar ul.nav li.active ul li.active ul li.active ul li.active ul li a:visited {
  padding: 3px 10px 3px 50px;
}
/* Right Column Vertical drop-down nav */
/*---------------------------------------
Note: nav should be in Module Position 'emc23-right' with Module Class Suffix '_nav'
Output code is ul.nav etc.
---------------------------------------*/
/* 1st Level */
#sidebar-2 ul.nav {
  margin: 0;
  padding: 0;
}
#sidebar-2 ul.nav li {
  margin: 0;
}
#sidebar-2 ul.nav li a:link,
#sidebar-2 ul.nav li a:visited {
  display: block;
  padding: 3px 10px 3px 10px;
}
/* 2nd Level */
#sidebar-2 ul.nav li ul {
  margin: 0;
  padding: 0;
}
#sidebar-2 ul.nav li ul li {
  margin: 0;
  padding: 0;
}
#sidebar-2 ul.nav li.active ul li a:link,
#sidebar-2 ul.nav li.active ul li a:visited {
  padding: 3px 10px 3px 20px;
}
#sidebar-2 ul.nav li.active ul li.active a:link,
#sidebar-2 ul.nav li.active ul li.active a:visited {
  padding: 3px 10px 3px 20px;
}
/* 3rd Level */
#sidebar-2 ul.nav li ul li ul {
  padding-bottom: 0;
  padding: 0;
}
#sidebar-2 ul.nav li.active ul li.active ul li a:link,
#sidebar-2 ul.nav li.active ul li.active ul li a:visited {
  padding: 3px 10px 3px 30px;
  font-weight: normal;
}
/* 4th Level */
#sidebar-2 ul.nav li.active ul li.active ul li.active ul li a:link,
#sidebar-2 ul.nav li.active ul li.active ul li.active ul li a:visited {
  padding: 3px 10px 3px 40px;
}
/* 5th Level */
#sidebar-2 ul.nav li.active ul li.active ul li.active ul li.active ul li a:link,
#sidebar-2 ul.nav li.active ul li.active ul li.active ul li.active ul li a:visited {
  padding: 3px 10px 3px 50px;
}
/*-----------------------------------*/
/*** MENUS/NAVIGATION ***/
/*---------------------------------------*/
/*-----------------------------------*/
/*** MENUS/NAVIGATION ***/
/*---------------------------------------*/
/* Left Column Vertical fly-out suckerfish menu */
/*---------------------------------------
Note: Menu should be in Module Position 'emc23-left' with Module Class Suffix '_menu'
Output code is ul.menu etc.
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#sidebar ul.menu li a:link,
#sidebar ul.menu li a:visited {
  border-bottom: 1px solid #F3F3F3;
}
#sidebar ul.menu li.current a {
  font-weight: bold;
}
#sidebar ul.menu ul li {
  background: none;
}
/* Root Menu */
/* Root Menu Hover Persistence */
/* top level parent */
#sidebar ul.menu li.parent:hover,
#sidebar ul.menu li.parent.iehover {
  background-color: #DFDFDF;
}
#sidebar ul.menu li.parent a:after {
  content: " +";
}
#sidebar ul.menu li.parent li a:after {
  content: none;
}
/* 2nd Menu */
#sidebar ul.menu ul {
  border-top: 1px solid #F3F3F3;
}
#sidebar ul.menu li:hover li {
  background: #EBEBEB;
  border: 1px solid #F3F3F3;
  border-top: 0px;
}
/* 2nd Menu Hover Persistence */
/* first sub-level parent */
#sidebar ul.menu li li.parent a:after {
  content: " +";
}
#sidebar ul.menu li li.parent li a:after {
  content: none;
}
/* 3rd Menu */
/* 3rd Menu Hover Persistence */
/* second sub-level parent */
#sidebar ul.menu li li li.parent a:after {
  content: " +";
}
#sidebar ul.menu li li li.parent li a:after {
  content: none;
}
/* 4th Menu */
/* 4th Menu Hover Persistence*/
/* third sub-level parent */
#sidebar ul.menu li li li li.parent a:after {
  content: " +";
}
#sidebar ul.menu li li li li.parent li a:after {
  content: none;
}
/* third sub-level parent */
#sidebar ul.menu li li li li li.parent a:after {
  content: " +";
}
#sidebar ul.menu li li li li li.parent li a:after {
  content: none;
}
/* Right Column Vertical fly-out suckerfish menu */
/*---------------------------------------
Note: Menu should be in Module Position 'emc23-right' with Module Class Suffix '_menu'
Output code is ul.menu etc.
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#sidebar-2 ul.menu li {
  border-bottom: 1px solid #F3F3F3;
}
#sidebar-2 ul.menu li.current a {
  font-weight: bold;
}
#sidebar-2 ul.menu ul li {
  background: none;
}
/* Root = Vertical, Secondary = Vertical */
/* Root Menu */
/* Root Menu Hover Persistence */
/* top level parent */
#sidebar-2 ul.menu li.parent:hover {
  background-color: #DFDFDF;
}
#sidebar-2 ul.menu li.parent a:before {
  content: "+ ";
}
#sidebar-2 ul.menu li.parent li a:before {
  content: none;
}
/* 2nd Menu */
#sidebar-2 ul.menu ul {
  border-top: 1px solid #F3F3F3;
}
#sidebar-2 ul.menu li:hover li {
  background: #EBEBEB;
  border: 1px solid #F3F3F3;
  border-top: 0px;
}
/* 2nd Menu Hover Persistence */
/* first sub-level parent */
#sidebar-2 ul.menu li li.parent a:before {
  content: "+ ";
}
#sidebar-2 ul.menu li li.parent li a:before {
  content: none;
}
/* 3rd Menu */
/* 3rd Menu Hover Persistence */
/* second sub-level parent */
#sidebar-2 ul.menu li li li.parent a:before {
  content: "+ ";
}
#sidebar-2 ul.menu li li li.parent li a:before {
  content: none;
}
/* 4th Menu */
/* 4th Menu Hover Persistence */
/* Left Column Vertical fly-out suckerfish menu */
/*---------------------------------------
Note: Menu should be in Module Position 'emc23-left' with Module Class Suffix '_menu'
Output code is ul.menu etc.
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#sidebar ul#mainlevel li a:link,
#sidebar ul#mainlevel li a:visited,
#sidebar ul.menu li a:link,
#sidebar ul.menu li a:visited {
  display: block;
  font-weight: 400;
  padding: 0 0 6px 10px;
  text-decoration: none;
}
#sidebar ul.menu li a:hover {
  text-decoration: underline;
}
#sidebar ul#mainlevel li a#active_menu,
#sidebar ul.menu li#current a {
  text-decoration: none;
}
#sidebar ul.menu ul li {
  background: none;
}
/* Root = Vertical, Secondary = Vertical */
#sidebar ul#mainlevel,
#sidebar ul.menu,
#sidebar ul.menu li,
#sidebar ul.menu ul {
  width: 100%;
  /*For KHTML*/
}
#sidebar ul#mainlevel:after,
#sidebar ul.menu:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}
#sidebar ul#mainlevel li,
#sidebar ul.menu li {
  float: left;
  /*For IE 7 lack of compliance*/
  display: block !important;
  /*For GOOD browsers*/
  display: inline;
  /*For IE*/
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0px;
}
/* Root Menu */
#sidebar ul#mainlevel a,
#sidebar ul.menu a {
  display: block;
  height: auto !important;
  height: 1%;
  /*For IE*/
}
/* Submenu Initialisation */
#sidebar ul.menu ul,
#sidebar ul.menu ul ul,
#sidebar ul.menu ul ul ul {
  display: none;
  position: absolute;
  z-index: 900;
  list-style: none;
  top: 10px;
  left: 75%;
}
/* Do Not Move - Must Come Before display:block for Gecko */
/* Hide sub submneus on twine load */
#sidebar ul.menu li:hover ul ul,
#sidebar ul.menu li:hover ul ul ul,
#sidebar ul.menu li.iehover ul ul,
#sidebar ul.menu li.iehover ul ul ul {
  display: none;
}
/* Display submenus on hover over parent item */
#sidebar ul.menu li:hover ul,
#sidebar ul.menu ul li:hover ul,
#sidebar ul.menu ul ul li:hover ul,
#sidebar ul.menu li.iehover ul,
#sidebar ul.menu ul li.iehover ul,
#sidebar ul.menu ul ul li.iehover ul {
  display: block;
}
/* 2nd Menu */
#sidebar ul.menu ul {
  width: 150px;
  margin: 0;
  padding: 0;
}
#sidebar ul.menu li:hover li {
  padding: 0px;
  margin: 0px;
}
#sidebar ul.menu li:hover li a,
#sidebar ul.menu li.iehover li a {
  margin: 0.25em 0.5em 0;
}
/* Right Column Vertical fly-out suckerfish menu */
/*---------------------------------------
Note: Menu should be in Module Position 'emc23-right' with Module Class Suffix '_menu'
Output code is ul.menu etc.
For drop-down menu to work as intended "Show Sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#sidebar-2 ul#mainlevel li,
#sidebar-2 ul.menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  text-indent: 0;
}
#sidebar-2 ul#mainlevel li a:link,
#sidebar-2 ul#mainlevel li a:visited,
#sidebar-2 ul.menu li a:link,
#sidebar-2 ul.menu li a:visited {
  display: block;
  font-weight: 400;
  padding: 0 0 6px 10px;
  text-decoration: none;
}
#sidebar-2 ul#mainlevel li a:hover,
#sidebar-2 ul.menu li a:hover {
  text-decoration: underline;
}
#sidebar-2 ul#mainlevel li a#active_menu,
#sidebar-2 ul.menu li#current a {
  text-decoration: none;
}
/* Root = Vertical, Secondary = Vertical */
#sidebar-2 ul#mainlevel,
#sidebar-2 ul.menu,
#sidebar-2 ul.menu li,
#sidebar-2 ul.menu ul {
  width: 100%;
  /*For KHTML*/
  list-style: none;
}
#sidebar-2 ul#mainlevel:after,
#sidebar-2 ul.menu:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}
#sidebar-2 ul#mainlevel li,
#sidebar-2 ul.menu li {
  float: left;
  /*For IE 7 lack of compliance*/
  display: block !important;
  /*For GOOD browsers*/
  display: inline;
  /*For IE*/
  position: relative;
}
/* Root Menu */
#sidebar-2 ul#mainlevel a,
#sidebar-2 ul.menu a {
  display: block;
  height: auto !important;
  height: 1%;
  /*For IE*/
}
/* Submneu Initialisation */
#sidebar-2 ul.menu ul,
#sidebar-2 ul.menu ul ul,
#sidebar-2 ul.menu ul ul ul {
  display: none;
  position: absolute;
  z-index: 900;
  top: 10px;
  left: -75%;
}
/* Do Not Move - Must Come Before display:block for Gecko */
/* Hide sub submenus on twine load */
#sidebar-2 ul.menu li:hover ul ul,
#sidebar-2 ul.menu li:hover ul ul ul,
#sidebar-2 ul.menu li.iehover ul ul,
#sidebar-2 ul.menu li.iehover ul ul ul {
  display: none;
}
/* Display submenus on hover over parent item */
#sidebar-2 ul.menu li:hover ul,
#sidebar-2 ul.menu ul li:hover ul,
#sidebar-2 ul.menu ul ul li:hover ul,
#sidebar-2 ul.menu li.iehover ul,
#sidebar-2 ul.menu ul li.iehover ul,
#sidebar-2 ul.menu ul ul li.iehover ul {
  display: block;
}
/* 2nd Menu */
#sidebar-2 ul.menu ul {
  width: 150px;
  margin: 0;
  padding: 0;
}
#sidebar-2 ul.menu li:hover li {
  padding: 0px;
  padding-right: 1em;
  text-align: right;
}
#sidebar-2 ul.menu li:hover li a,
#sidebar-2 ul.menu li.iehover li a {
  margin: 0.25em 0.5em 0 0;
}
/*---------------------------------------*/
/*** Joomla Core COMPONENTS ***/
/*---------------------------------------*/
/* Error Messages */
div.error {
  margin: 0 0 10px;
}
div.error h2 {
  margin: 0;
}
dl#system-message {
  clear: both;
  text-align: left;
  padding: 5px 20px;
  border-top: 2px solid #FEABB9;
  border-bottom: 2px solid #FEABB9;
}
dt.error {
  font-weight: bold;
}
dd.error ul {
  margin: 0;
}
/* Login Form */
div.login-fields {
  margin: 0 0 5px;
}
/*--------------------------------------------*/
/*Joomla Contact Form with Beez Override*/
/*--------------------------------------------*/
.contact {
  padding: 0 10px;
}
span.jicons-icons {
  margin-right: 10px;
}
span.jicons-text {
  margin-right: 10px;
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
  color: #4B4B4B;
}
div.contact-address address {
  margin: 0 20px;
  padding: 10px;
  font-style: normal;
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
}
address span {
  display: block;
}
div.contact-contactinfo p {
  margin: 0.5em 0;
}
dt label#jform_contact_email_copy-lbl {
  display: inline;
  float: left;
  margin-right: 10px;
}
dd input#jform_contact_email_copy-lbl {
  display: inline;
}
span.star {
  color: red;
}
/* Sliders */
div.pane-slider.content {
  padding: 0 10px;
}
h3.pane-toggler {
  border: 1px solid #EBEBEB;
  background: url(../images/arrow_right.png) no-repeat 5px 4px #f3f3f3;
}
h3.pane-toggler-down {
  border: 1px solid #EBEBEB;
  background: url(../images/arrow_down.png) no-repeat 5px 4px #f3f3f3;
}
.panel h3 {
  margin: 0.5em 0;
  padding: 0 35px;
}
.panel h3 a {
  text-decoration: none;
}
/* Tabs */
dl#contact-slider.tabs {
  margin: 20px 0;
}
dt.tabs {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
dt.tabs.open {
  padding: 0 10px 0 25px;
  border: 1px solid #EBEBEB;
  background: url(../images/arrow_right_sm.png) no-repeat 5px 3px #ffffff;
}
dt.tabs.closed {
  padding: 0 10px 0 25px;
  border: 1px solid #EBEBEB;
  background: url(../images/arrow_down_sm.png) no-repeat 5px 3px #ebebeb;
}
.tabs h3 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
}
.tabs h3 a {
  text-decoration: none;
}
div.current {
  background: #FFF;
  margin: 60px 0 0;
}
/*---------------------------------------*/
/*** Joomla Core MODULES ***/
/*---------------------------------------*/
/* Breadcrumbs */
/* You are here: */
/* Login */
form#login-form {
  padding: 0 5px;
}
form#login-form ul li {
  margin: 0;
}
form#login-form ul li a {
  background-image: none;
  padding: 0 5px;
}
/* Search */
form.search {
  margin: 0;
}
input#mod_search_searchword.inputbox {
  margin: 0;
}
/* Latest News */
/* Popular */
/* Weblinks */
/* Archived Articles */
/* Related Articles */
/* Latest Users */
/* Categories */
/* Stats Module */
/* Syndication */
/* Feed Display */
/* Custom */
/* Newsflash */
/* Language Switcher */
/* Random Image */
/* Banner */
/* Item Links */
/* Advertisement Module - has Module Class Suffix _text */
/* Featured Links Heading */
/* Item Links */
/* Footer Links */
/* Articles */
/* Featured Articles */
/* Article Layout */
/* Article Title */
/** ICONS **/
/* Details Label */
/* Category Label */
/* Category Link */
/* Published Date & Time */
/* Create Date & Time */
/* Hits */
/** General Page Nav  <Prev  Next>  **/
/* Prev */
ul.pagenav li.pagenav-prev {
  padding: 0 0 5px;
}
/* Next */
ul.pagenav li.pagenav-next {
  text-align: right;
}
/* TOC Article Index */
/* Page Nav Counter */
/* List All Categories (Articles & Contacts)
these can have multiple embedded lists as there can be multiple categories and sub categories */
/* All */
/* Sub */
/* Sub Sub */
/* Article Count Label */
/* Article Count Number */
/* Category Blog */
/* Remove div.blog for Category List Layout */
/* Sub Categories Label */
/* Category List */
/* System */
/* Print & Email links & icons */
li.print-icon {
  display: inline;
}
li.email-icon {
  display: inline;
}
/* User Rating */
/* User Vote */
/** ARTICLE INFO **/
/* Details */
/* Category: */
/* Category link */
/* Create Date & Time */
/* Modified Date & Time */
/* Published Date & Time */
/* Author Name */
/* Hits */
/* -- Joomla Login Form Override -- */
/******FORM******/
form#login-form {
  margin: 0;
  padding: 0 10px;
}
form#login-form p {
  margin: 0;
  padding: 0;
}
/* Additional Style sheets
@import url('initial.css');
@import url('basic_typography.css');
@import url('clearing.css');
@import url('layout.css');
@import url('modules.css');
@import url('horzmenu.css');
@import url('joomla.css');
*/
/* Forms */
form {
  margin: 0;
  padding: 0;
}
textarea {
  font-size: 100%;
  font-family: arial, serif;
}
input.button,
.button {
  padding: 3px 5px;
  margin: 2px;
}
/*input {
padding:3px 5px;
}*/
/************Core Joomla Output with Beez Overrides */
/*---------------------------------------*/
/*** CONTENT LAYOUTS ***/
/*---------------------------------------*/
/*** PAGE LAYOUT - Featured, Single Articles, Archived Articles, Catgeory Blog and Category List ***/
/* Page Title */
div.blog h1,
div.blog-featured h1,
div.item-page h1,
div.archive h1,
div.contact h1,
div.contact-category h1,
div.weblink-category h1,
div.category-list h1,
div.categories-list h1 {
  padding: 10px 5px 0;
  margin-bottom: 0;
}
/* Article Title */
div.blog h2,
div.blog-featured h2,
div.item-page h2,
div.archive h2,
div.contact h2,
div.contact-category h2,
div.weblink-category h2,
div.category-list h2,
div.categories-list h2 {
  padding: 5px;
  margin: 0;
}
/* Article Title Linkable*/
div.blog h2 a,
div.blog-featured h2 a,
div.item-page h2 a,
div.archive h2 {
  padding: 5px;
  margin: 0;
}
/* Category Blog Layout*/
/* Featured Articles Blog Layout */
/* Leading Article */
/* Article Layout */
div.item-page {
  padding: 0 2em 2em;
}
/* Print & Email links & icons */
ul.actions {
  list-style-type: none;
  margin: 0px !important;
}
ul.actions li.print-icon,
ul.actions li.email-icon {
  display: inline;
  background: none;
  padding: 0;
}
/*removes main content's list styles*/
/* User Rating */
/* User Vote */
/** Article Info **/
dl.article-info {
  padding: 5px 10px;
}
/* Details */
/* Category: */
/* Category link */
/* Create Date & Time */
/* Modified Date & Time */
/* Published Date & Time */
/* Author Name */
/* Hits */
/* Columns - may need to be adjusted to suit multiple column layout */
.item {
  display: block;
  padding: 0 5px 10px;
}
.items-row {
  margin-bottom: 10px !important;
  overflow: hidden;
}
/* turned off and replaced with bootstrap */
/*
.cols-1{
display: block;
float: none !important;
margin: 0 !important;
}

.cols-2 .column-1 {
width:48%;
float:left;
padding:0 10px 0 0;
}

.cols-2 .column-2 {
width:48%;
float:right;
padding:0 0 0 10px;
}

.cols-3 .column-1 {
float:left;
width:31%;
padding:0 10px 0 0;
}

.cols-3 .column-2 {
float:left;
width:31%;
padding:0 5px 0;
}

.cols-3 .column-3 {
float:right;
width:31%;
padding:0px 0 0 10px;
}

*/
/* Row Separator */
span.row_separator,
div.item-separator {
  display: block;
  clear: both;
  height: 10px;
  margin: 0;
}
/* Read More */
p.readmore a {
  display: block;
  margin: 0;
  padding: 0 5px;
}
/* More Articles (Links) */
div.items-more {
  margin-top: 10px;
  clear: both;
}
/* More Articles Header */
.items-more h3 {
  margin: 0;
}
/* More Articles List (Links) */
div.items-more ol {
  margin: 0 !important;
}
div.items-more ol li a {
  padding: 0 0 0 40px;
}
/* Lists in Content */
div.item-page ol,
div.item-page ul,
div.blog-featured ol,
div.blog-featured ul,
div.blog ol,
div.blog ul {
  margin-left: 10px;
}
div.item-page ul li,
div.item-page ol li,
div.blog-featured ul li,
div.blog-featured ol li,
div.blog ul li,
div.blog ol li {
  padding: 0 0 0 40px;
}
/* Pagination */
/* Page 1 of _ */
p.counter {
  margin: 15px 0 0;
}
/** Pagination Start Prev 1 2 3 Next End  **/
div.pagination {
  display: block;
}
/* centered list */
div.pagination ul {
  display: block;
  clear: left;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
div.pagination ul li {
  background-image: none !important;
  display: block;
  position: relative;
  right: 50%;
  list-style-type: none;
  float: left;
  padding: 2px 5px;
  margin: 0 2px;
}
/* current twine */
/* linked twines */
/*** TOC ***/
/* Article Index Container*/
#article-index {
  width: 25%;
  float: right;
  padding: 10px 10px 10px 20px;
  margin: 10px 0px 20px 30px;
}
/* Article Index Header*/
#article-index ul {
  list-style-type: disc;
}
#article-index ul li {
  background: none;
  padding: 0;
}
/*removes main content's list styles*/
/* Article Index Linked Items*/
/* Page Nav Counter */
/*** PAGE NAVIGATION ***/
/** TOC Nav  <<Prev - Next>>  **/
div.pagenavbar {
  margin: 0;
  padding: 5px 0 0;
}
/** Article Page Nav  <Prev  Next>  **/
ul.pagenav {
  text-align: center;
  clear: both;
}
ul.pagenav li {
  display: inline;
  margin: 0 20px;
}
/* Prev */
ul.pagenav li.pagenav-prev,
ul.pagenav li.pagenav-next {
  display: inline;
  background: none;
  padding: 0;
}
/*removes main content's list styles*/
/* Next */
/*** Category List Layout ***/
/* Category List (includes Articles & Contacts) */
/* Category Description */
div.category-desc,
div.contentdescription {
  margin: 10px 0;
  padding: 10px;
}
div.category-desc img {
  float: left;
  margin: 0 10px 10px 0;
}
.cat-children {
  clear: both;
  display: block;
}
.cat-children h3 {
  margin: 0;
}
.cat-children ul {
  margin: 0 20px;
}
div.cat-items form#adminForm fieldset.filters {
  padding: 10px;
}
table.category {
  width: 100%;
}
table.category p {
  margin: 0;
}
table.category th {
  padding: 5px;
}
table.category tr td {
  padding: 5px;
}
/* List All Categories (these can have multiple embedded lists as there can be multiple categories and sub categories) */
span.item-title a {
  text-decoration: none;
}
span.item-title a:hover {
  text-decoration: underline;
}
/* All */
div.categories-list ul ul {
  margin: 0 20px 20px;
}
/* Sub */
/* Sub Sub */
div.categories-list dl dt {
  display: inline;
}
/* Article Count Label */
div.categories-list dl dd {
  display: inline;
}
/* Article Count Number */
ul#archive-items {
  margin: 0;
  padding: 0;
}
ul#archive-items li {
  margin: 0;
  padding: 0;
}
/* WYSIWYG Editor styles for image margins */
img.right {
  margin: 0 0 10px 10px;
}
img.left {
  margin: 0 10px 10px 0;
}
div#slimbox1,
div#slimbox2,
div#slimbox3,
div#slimbox4,
div#slimbox5,
div#slimbox6,
div#slimbox7,
div#slimbox8,
div#slimbox9,
div#slimbox10 {
  margin: 0;
  text-align: center;
}
/*# sourceMappingURL=template.css.map */