{#
/**
 * @file
 * Component for a more link.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - content: [string] The component contents.
 */
#}
{{ attach_library('eclecticmeme/more-link') }}
<div class="more-link {{modifier_class}}">
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
