body {
    font-size: 12px;
}

.designPanel {
    position:absolute;
    margin:5px;
    padding:5px;
}
#controlpanel {
    width:100px;
    top:0;
    bottom:25px;
    left:0;
    border:solid black 2px;
}
#controlpanel button {
    width:100px;
}

#designspace {
    position:absolute;
    left:125px;
    right:0px;
    top:0px;
    bottom:25px;
    border:solid black 1px;
}

#infopanel {
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
}

.gd_datalistitem {
    cursor: pointer;
}

.gd_datalistitemselected td {
    background: #ff0000 !important;
}
.gd_datalistitemselected:hover td {
    background: #ff6666 !important;
}

.gd_tabset {
    overflow: hidden;
}

.gd_scenedets {
}

.gd_chardets {
    
}

.gd_itemdets {
    
}

.gd_tab {
    position:relative;
}

.gd_field {
    position:relative;
}

.gd_bgthumb {
    width: 80px;
    height: 65px;
}

.gd_spritethumb {
    width: 80px;
    height: 165px;
}

.gd_contextmenu {
    position: absolute;
    width: 150px;
    z-index: 99999;
    border: solid 1px #CCC;
    background: #EEE;
    padding: 0px;
    margin: 0px;
    display: none;
}

.gd_contextmenu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.gd_contextmenu a {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}

.gd_contextmenu li.hover a {
    color: #FFF;
    background-color: #3399FF;
}

.gd_contextmenu li.disabled a {
    color: #AAA;
    cursor: default;
}

.gd_contextmenu li.hover.disabled a {
    background-color: transparent;
}

.contextMenu li.separator {
    border-top: solid 1px #CCC;
}

.event_actionSubjects {
    display:inline-block;
}