/*---------------------------------------*/
/*** This CSS is for STYLES ONLY - colors, backgrounds, borders, text formatting etc.
Any layout - dimensions, spacing & placement etc. is defined in its respective CSS file. ***/
/*---------------------------------------*/
/* Containers */
body {
	background-color: #000; /* black */
	color: #ccc;
}
.dusk {
	background: url(../images/city-top-dusk.jpg) #000 center top no-repeat;
}
.night {
	background: url(../images/city-top-night.jpg) #000 center top no-repeat;
}
.dawn {
	background: url(../images/city-top-dawn.jpg) #000 center top no-repeat;
}
.day {
	background: url(../images/city-top-day.jpg) #000 center top no-repeat;
}
div.inside {}
div#wrapper {}
div#header {}
div#logo {}
div#top-module {
	text-align: right;
}
div#breadcrumbs {}
div#breadcrumbs p {}
div#breadcrumbs a {}
div#search {} 
div#nav {}
div#MiddleCol {}
div#top-user-modules {}
div#user1, div#user2, div#user5 {}
div#mainbody {
}
div#left {}
div#right {}
div#bottom-user-modules {}
div#user6, div#user7, div#user8, div#user9 {}
div#footer-user-modules {}
div#user11, div#user12, div#user13, div#user14 {}
div#footer {
	background: url(../images/footer.png) #000 50% 0% no-repeat;
}
div.copyright {
	font-size: 85%;
	color: #4B4B4B;
}
div.credits {
	font-size: 85%;
	color: #4B4B4B;
}
/************************************************ Style Elements */
/* Basic typography */
/* Links */
a, a:link, a:visited {
	color: #009999;
	text-decoration: none;
}
a:hover {
	color:#00ffff;
	text-decoration: underline;
}
a:focus {
	outline: 1px dotted #ccc;
}
/* Headings */
h1, .componentheading  {}
h2,	.contentheading {
	color: #00ffff;
}
h3 {}
h4 {}
h5 {}
h6 {}
div#sitename {
	font-size: 2.0em;
	font-weight: normal;
}
div#sitename a:link,
div#sitename a:visited,
div#sitename a:hover {}
div#slogan {
	font-weight: normal;
	font-size: 1em;
	font-family: serif;
	text-transform: uppercase;
}
/* Text styles */
strong, b {}
.blockquote, blockquote {
	background-color: #1B1B1B;
	color: #00CC00; /*green*/
	border-left: 5px solid #333;}
.pre, pre {
	color: #fff; 
	border: 2px dotted #1B1B1B;
	background-color: #2A2A2A;
}
.code , code {
	color: #FF00CC; /*pink*/
	border: 1px solid #333;
	background: #1B1B1B;
}
.highlight {
	font-weight: bold;
	background-color: #00ffff; /*turquoise*/
	color: #000;
}
/* Lists */
ol, ul, li {}
li > p {}
/* Horizontal rules */
hr {
	height: 3px;
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #003535;
	border-left-width: 0;
	border-top-style: solid;
	border-top-color: #006262;
}
/*-----------------------------------*/
/*** MENUS/NAVIGATION ***/
/*---------------------------------------*/
/* Top Horizontal Menu */
/*---------------------------------------
Note: Default install of Joomla places Top Menu in Module Position/Name 'user3' with Menu Class Suffix '-nav' and style 'raw'. Menu Style should be set from 'Legacy - Flat List' to 'List' in the backend Module Manager.
Output code is ul.menu-nav
Note: For fly-out suckerfish menu to work as intended "Always show sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
#nav ul li{}
#nav ul li a, 
#nav ul li a:visited {
	text-decoration: none;
	text-align: center;
	background:#000;
	color:#999;
	text-transform: uppercase;
	font-size:85%;
	line-height:1em;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #333;
	background: url(../images/trans.png) transparent center top repeat;
}
#nav ul li a:hover {
	text-decoration: none;
	background: url(../images/trans.png) #009999 center top repeat;
	color:#fff;
}
#nav ul li#current a, 
#nav a#active_menu-nav {
	background: url(../images/trans.png) #009999 center top repeat;
	color:#fff;
}
/***MAIN MENU***/
/*---------------------------------------
Note: Default install of Joomla places Main Menu in Module Position/Name 'left' with Module Class Suffix '_menu' and style 'xhtml'.
Default install sets Menu Style to 'List'.
All mod_mainmenu will take on these properties. 
Add Menu Class Suffix to specify per menu, or add Preffix #left/#right to distinguish between menus in either columns.
Output code is div.moduletable_menu ul.menu
Note: For fly-out suckerfish menu to work as intended "Always show sub-menu Items" must be enabled in the Menu Module Parameters.
---------------------------------------*/
/* Left Column Vertical fly-out suckerfish menu */
#left ul.menu ul, 
#left ul.menu ul ul, 
#left ul.menu ul ul ul {}
#left ul.menu li, 
#left ul.menu_wiki li {
	border-bottom: 1px solid #666;
}
#left ul.menu li a:link, 
#left ul.menu li a:visited, 	
#left ul.menu_wiki li a:link, 
#left ul.menu_wiki li a:visited {
	border-left: 10px solid #333;
	border-right: 10px solid #000;
	color: #ccc;
	background: url(../images/trans.png) transparent center top repeat;
}
#left ul.menu li a:hover,
#left ul.menu_wiki li a:hover {
	border-left: 10px solid #666;
	border-right: 10px solid #333;
	color: #00ffff;
}
#left ul.menu li#current a, 
#left ul.menu_wiki li#current a {
	border-left: 10px solid #009999;
	border-right: 10px solid #00ffff;
	color: #00ffff;
}
ul.menu li a:focus,
ul.menu_wiki li a:focus {
	color:#fff;
}
#left ul.menu ul li {
	background:none;
}
/* Root Menu */
#left ul.menu a {}
/* Root Menu Hover Persistence */
#left ul.menu a:hover,
#left ul.menu li:hover a,
#left ul.menu li.iehover a {}
/* top level parent */
#left ul.menu li.parent:hover, #left ul.menu li.parent.iehover {background-color:#DFDFDF; /*2*/}
#left ul.menu li.parent a:after {content: " +";}
#left ul.menu li.parent li a:after {content: none;}
/* 2nd Menu */
#left ul.menu ul {
	border-top: 1px solid #F3F3F3; /*1*/
}
#left ul.menu li:hover li {
	background:#EBEBEB;
	border:1px solid #F3F3F3; /*1*/
	border-top:0px;
}
#left ul.menu li:hover li a,
#left ul.menu li.iehover li a {}
/* 2nd Menu Hover Persistence */
#left ul.menu li:hover li a:hover,
#left ul.menu li:hover li:hover a,
#left ul.menu li.iehover li a:hover,
#left ul.menu li.iehover li.iehover a {}
/* first sub-level parent */
#left ul.menu li li.parent a:after {content: " +";}
#left ul.menu li li.parent li a:after {content: none;}
/* 3rd Menu */
#left ul.menu li:hover li:hover li a,
#left ul.menu li.iehover li.iehover li a {}
/* 3rd Menu Hover Persistence */
#left ul.menu li:hover li:hover li a:hover,
#left ul.menu li:hover li:hover li:hover a,
#left ul.menu li.iehover li.iehover li a:hover,
#left ul.menu li.iehover li.iehover li.iehover a {}
/* second sub-level parent */
#left ul.menu li li li.parent a:after {content: " +";}
#left ul.menu li li li.parent li a:after {content: none;}
/* 4th Menu */
#left ul.menu li:hover li:hover li:hover li a,
#left ul.menu li.iehover li.iehover li.iehover li a {}
/* 4th Menu Hover Persistence*/
#left ul.menu li:hover li:hover li:hover li a:hover,
#left ul.menu li.iehover li.iehover li.iehover li a:hover {}
/* Right Column Vertical fly-out suckerfish menu */
#right ul.menu ul,
#right ul.menu ul ul,
#right ul.menu ul ul ul {}
#right ul.menu li {border-bottom: 1px solid #F3F3F3;}
#right ul.menu li a:link, 
#right ul.menu li a:visited {}
#right ul.menu li a:hover {}
#right ul.menu li#current a {font-weight: bold;}
#right ul.menu ul li {background:none;}
/* Root = Vertical, Secondary = Vertical */
#right ul.menu,
#right ul.menu li,
#right ul.menu ul {}
/* Root Menu */
#right ul.menu a {}
/* Root Menu Hover Persistence */
#right ul.menu a:hover,
#right ul.menu li:hover a,
#right ul.menu li.iehover a {}
/* top level parent */
#right ul.menu li.parent:hover {background-color:#DFDFDF; /*2*/}
#right ul.menu li.parent a:before {content: "+ ";}
#right ul.menu li.parent li a:before {content: none;}
/* 2nd Menu */
#right ul.menu ul {
	border-top: 1px solid #F3F3F3; /*1*/
}
#right ul.menu li:hover li {
	background:#EBEBEB;
	border:1px solid #F3F3F3; /*1*/
	border-top:0px;}
#right ul.menu li:hover li a,
#right ul.menu li.iehover li a {}
/* 2nd Menu Hover Persistence */
#right ul.menu li:hover li a:hover,
#right ul.menu li:hover li:hover a,
#right ul.menu li.iehover li a:hover,
#right ul.menu li.iehover li.iehover a {}
/* first sub-level parent */
#right ul.menu li li.parent a:before {content: "+ ";}
#right ul.menu li li.parent li a:before {content: none;}
/* 3rd Menu */
#right ul.menu li:hover li:hover li a,
#right ul.menu li.iehover li.iehover li a {}
/* 3rd Menu Hover Persistence */
#right ul.menu li:hover li:hover li a:hover,
#right ul.menu li:hover li:hover li:hover a,
#right ul.menu li.iehover li.iehover li a:hover,
#right ul.menu li.iehover li.iehover li.iehover a {}
/* second sub-level parent */
#right ul.menu li li li.parent a:before {content: "+ ";}
#right ul.menu li li li.parent li a:before {content: none;}
/* 4th Menu */
#right ul.menu li:hover li:hover li:hover li a,
#right ul.menu li.iehover li.iehover li.iehover li a {}
/* 4th Menu Hover Persistence */
#right ul.menu li:hover li:hover li:hover li a:hover,
#right ul.menu li:hover li:hover li:hover li:hover a,
#right ul.menu li.iehover li.iehover li.iehover li a:hover {}
#right ul.menu li.iehover li.iehover li.iehover li.iehover a {}
/* Footer Menu EDIT */ 
/*---------------------------------------
Note: Footer Menu in Module Position/Name 'user15' with no Menu Class Suffix and style 'raw'.
Output code is ul.menu
---------------------------------------*/			
#footer ul.menu {
	font-size: 85%;
	color: #4B4B4B;}
#footer ul.menu li {
	border-right:1px solid #DFDFDF; /*1*/}
#footer ul.menu li a,
#footer ul.menu li a:visited {}	
#footer ul.menu li a:hover {background-color:#EBEBEB;}	
/*---------------------------------------*/
/*** ALL MODULES ***/
/*---------------------------------------*/
/*---------------------------------------*/
/*** MODULES with Style 'raw' or 'xhtml' - output as div.moduletable ***/
/*** MENU MODULES with Module Class Suffix _menu ***/
/*---------------------------------------*/
.moduletable,
.moduletable_menu,
.moduletable_text {
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	border: 1px solid #333;
	background: url(../images/trans.png) transparent center top repeat;
}
.moduletable h3,
.moduletable_menu h3,
.moduletable_text h3 {
	color:#999;
	text-align:center;
	font-size:90%;
	border-bottom: 1px solid #666;
	text-transform: uppercase;
}
/*---------------------------------------*/
/*** MODULES with Style 'rounded' - output as div.module div div div ***/
/*** MENU MODULES with Module Class Suffix _menu ***/
/*---------------------------------------*/
.module,
.module_menu {}
.module div,
.module_menu div {}
.module div div,
.module_menu div div {}
.module div div div,
.module_menu div div div {}
.module h3,
.module_menu h3 {
	color:#999;
	text-align:center;
	font-size:90%;
	border-bottom: 1px solid #666;
	text-transform: uppercase;
}
/* Module List items
To specify ---> 	Latest News = ul & li .latestnews, Popular = ul & li .mostread */
.module ul li,
.moduletable ul li {}
.module ul li a,
.moduletable ul li a {}
.module ul li a:hover,
.moduletable ul li a:hover {}
div#top-user-modules .moduletable,
div#top-user-modules .moduletable_menu {}
div#top-user-modules .moduletable h3,
div#top-user-modules .moduletable_menu h3 {}
div#bottom-user-modules .moduletable,
div#bottom-user-modules .moduletable_menu {}
div#bottom-user-modules .moduletable h3,
div#bottom-user-modules .moduletable_menu h3{}
div#footer-user-modules  h3 {}
div#footer-user-modules .moduletable {}
/* Form */
fieldset {}
form {}
form label {}
.button {
	text-align: center;
	font-size: 85%;
	font-weight: bold;
	line-height: 20px;
	background-image: url(../images/button_bg.png);
	background-repeat: repeat-x;
	color: #009999;
	border: 1px #009999 solid;
}
.button:hover, 
.button:focus {
	border: 1px solid #999999;
	background: #333333;
	color: #FFFFFF;
}
.inputbox {
	border:1px solid #009999;
	background-image: url(../images/table_bg01.png);
	color: #999999;
}
.inputbox:hover, 
.inputbox:focus {
	border:1px solid #666;
}
.checkbox {}
.checkbox:hover, 
.checkbox:focus {}
/* Error Messages */
dl#system-message {
	border-top: 2px solid #DDC33A; /*yellow*/
	border-bottom: 2px solid #DDC33A;
}
/***********************************************Core Joomla Output with Beez Overrides */
/*---------------------------------------*/
/*** MODULES ***/
/*---------------------------------------*/
/* Breadcrumbs */
span.breadcrumbs pathway {}
a.pathway {}
a.pathway:hover {}
span.breadcrumbs pathway img {}
/* Latest News */
ul.latestnews {}
li.latestnews {}
a.latestnews {}
/* Popular */
ul.mostread {}
li.mostread {}
a.mostread {}
/* Sections */
ul.sections {}
ul.sections li {}
/*** Polls ***/
/* Poll Title */
.moduletable h4 {}
form.poll {}
input#voteid
form.poll label {}
form.poll input.button a {}
/*** Banner Module ***/
div.bannergroup{}
/* Item Links */
div.banneritem a {}
div.banneritem a:hover {}
/*** Advertisement Module - has Module Class Suffix _text ***/
div.bannergroup_text{}
/* Featured Links Heading */
div.bannerheader {}
/* Item Links */
div.banneritem_text a {}
div.banneritem_text a:hover {}
/* Footer Links */
div.bannerfooter_text a {}
div.bannerfooter_text a:hover {}
div.feed_description {}
/*---------------------------------------*/
/*** CONTENT LAYOUTS ***/
/*---------------------------------------*/
/*** PAGE LAYOUT - Frontpage, Section & Catgeory Blog ***/
/* Page Title */
h1.componentheading {
	color: #009999;
	text-align:right;
	text-transform: uppercase;
	font-size:85%;
	line-height:1em;
	border-bottom:1px #009999 dotted;
}
/* Blog Layout*/
div.blog,
div#page,
div.cbProfile,
div.cbUsersList,
form#login {
	background: url("../images/bg_dark.png") repeat center top transparent;}
/* Article */
div#page p {
	margin: 3em 0;
	text-align: justify;
	line-height: 1.4em;
}
p.articleinfo {}
/* User Rating */
span.content_rating {}
/* Vote */
span.content_vote {}
/* Leading Article */
div.leading {}
/* Article Title */
h2.contentheading {
	border-bottom:1px #009999 dotted;
}
/* Article Title Linkable*/
a.contentpagetitle {
	text-decoration: none;}
/** ICONS **/
p.buttonheading {text-align:right !important;}
.buttonheading img {border:0;}
/* PDF, Print, Email links & icons */
p.buttonheading a img {border: 0 none;}
p.buttonheading a:link,p.buttonheading a:visited{border: 0 none;}
p.buttonheading a:hover {}
p.buttonheading a:active,p.buttonheading a:focus{}
/** PAGE INFO **/
p.pageinfo {}
/* Section Name & Category Title Linkable */
p.pageinfo span a{font-weight: bold;}
/** ITEM INFO **/
p.iteminfo {
	color: #4B4B4B;
	font-size: 85%;}
/* Author Name */
p.iteminfo span.createdby {text-align: right;}
/* Create Date & Time */
p.iteminfo span.createdate{text-align: right;}
/* Modified Date & Time */
p.iteminfo span.modifydate{text-align: right;}
/* Leading Article Separator */
span.leading_separator {
	border-bottom: 1px solid #F3F3F3;}
/* Article Separator */
span.article_separator {
	border-top: 1px solid #333333;}
/* Columns */
/* First Column */
div.article_column column1 cols2 {}
/* Second Column */
div.article_column column2 cols2 {}
div.article_row {}
.article_column p {
	text-align: justify;}
div.column1,
div.column2,
div.column3,
div.column4 {}
div.cols2 {}
div.cols3 {}
div.cols4 {}
/* Row Separator */
span.row_separator {
	border-bottom: 1px dotted #4B4B4B;
}
/* Main Content Text */
div.blog p{}
/* Read More */
a.readon {
	color: #ff0;
}
a.readon:hover {}
div.blog p a.readon {
	border-bottom: 0px dotted #4B4B4B;
}
/* More Articles (Links) */
div.blog_more  {}
/* More Articles Header */
.blog_more h2 {
	font-size: 85%;
	font-family: serif;
	text-transform: uppercase;
	border-bottom: 1px solid #313131;
	text-align: center;
	color: #1F1F1F;}
/* More Articles List (Links) */
div#mainbody div.blog_more ul {
	background:#EBEBEB;
	border:1px solid #DFDFDF;
	color:#E6E6E6;
	line-height:1.3em;
	list-style-type: none;
}
div#mainbody div.blog_more li {
	background-image: none;}
div#mainbody div.blog_more ul li a {
	background:url(../images/arrow_icon.png) no-repeat 0 0;
	font-weight:bold;
	text-decoration: none;
}
div#mainbody div.blog_more ul li a:hover {
	background:url(../images/arrow_icon.png) no-repeat !important;
	color:#1F1F1F;
	font-weight:bold;}
div#mainbody div.blog_more ul li a:active, 
div#mainbody div.blog_more ul li a:active, 
div#mainbody div.blog_more ul li a:focus, 
div#mainbody div.blog_more ul li a:focus {
	background:url(../images/arrow_icon.png) no-repeat !important;
	color:#1F1F1F;
	font-weight:bold;}
/* Pagination */
/* Page 1 of _ */
p.counter {
	text-align: center;
	border-bottom: 1px solid #EBEBEB;
	font-size: 85%;
	font-family: serif;
	text-transform: uppercase;}
/* << Start Prev 1 2 3 Next End >>  **/
ul.pagination {}
ul.pagination li {}
ul.pagination li strong a {}
ul.pagination li strong a:hover, 
ul.pagination li strong a:active, 
ul.pagination li strong a:focus {}
/*** TOC ***/
/* Article Index Container*/
table.contenttoc {
	border: 1px solid #4B4B4B;
}
/* Article Index Header*/
table.contenttoc th {}
/* Article Index Linked Items*/
table.contenttoc td a.toclink {}
table.contenttoc td a.toclink:hover {}
table.contenttoc td a.toclink.active {}
/* Page Nav Counter */
div.pagenavcounter {}
/******/
/*** PAGE NAVIGATION ***/
/** TOC Nav  <<Prev - Next>>  **/
div.pagenavbar {
	text-align: center;
	border-top: 1px solid #4B4B4B;
}
div.pagenavbar a {text-decoration: none;}
div.pagenavbar a:hover {color: #4B4B4B;text-decoration: underline}
/** General Page Nav  <Prev  Next>  **/
table.pagenav {}
/* Both */
table.pagenav th {
	font-weight: bold;
	text-transform: uppercase;
	text-align:center;}
/* Prev */
table.pagenav th.pagenav_prev{
	border: 0.1em solid #333;
	background-color: #171717;
}
table.pagenav th.pagenav_prev a {}
table.pagenav th.pagenav_prev a:hover {}
/* Next */
table.pagenav th.pagenav_next{
	border: 0.1em solid #333;
	background-color: #171717;
}
table.pagenav th.pagenav_next a {}
table.pagenav th.pagenav_next a:hover {}
/*** Section Table Blog Layout ***/
/* Section/Category Description */
div.contentdescription {}
/* Section Image */
.image_left {}
.image_right {}
/* Category Links */
ul li a.category {}
ul li a.category:hover {}
/*Number of Articles */
ul li span.small {
	color: #4B4B4B;
}
/*** Category Table Layout ***/
/* Filter Input Field*/
div.filter {}
div.filter p input.inputbox{}
/* Display Drop-down */
div.display {}
div.display select#limit.inputbox{}
table.category {}
/* Table Headers */
.sectiontableheader{
	font-weight: bold;
	padding: 2px 4px;
	background-color: #191919;
	background-image: url(../images/button_bg.png);
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #2A2A2A;
	border-bottom-color: #009999;
	background-position: top;
}
.sectiontableheader a {}
.sectiontableheader a:hover {}
/* Table Row 1 */
tr.sectiontableentry1 {
	font-size: 85%;
	color: #CCCCCC;
	background:#101010;
}
tr.sectiontableentry1 a {}
tr.sectiontableentry1 a:hover {}
/* Table Row 2 */
tr.sectiontableentry2 {
	font-size: 85%;
	color: #CCCCCC;
	background:#242424;
}
tr.sectiontableentry2 a {}
tr.sectiontableentry2 a:hover {}
/* First Column */
td.sectiontableheader:first-child,
.sectiontableentry1 td:first-child,
.sectiontableentry2 td:first-child {}
/* Last Column */
td.sectiontableheader:last-child,
.sectiontableentry1 td:last-child,
.sectiontableentry2 td:last-child {}
.sectiontablefooter {}
/* Table Headers IDs & Columns */
#count {}
#tableOrdering {} /*Article Title*/
#tableOrdering2 {} /*Date*/
#author {}
#hits {}
a.fnord img {
	margin: 10px 10px 0 0;
	height:32px;
	width:32px;
	display:inline;
}
#globalWrapper {/*Wiki wrapper*/
	padding:10px;
}
