$white: #FFFFFF;
$white-off: #F5EFED;
$white-grey: #E8F1F2;

$grey-bg: #E6E6EA;
$grey-light: #E2E2E2;
$grey-mid: #605F5E;
$grey-dark: #363F3F;
$grey-dark-alt: #33312E;

$black: #0A0908;
$black-rich: #04151F;

$dark: #230007;

$teal-light: #00F2F2;

$teal-light-alt: #00B9AE;

$teal: #009999;

$teal-alt: #19535F;

$teal-dark: #0B3C49;

$teal-dark-alt: #022B3A;

$teal-dark-rich: #042A2B;


$blue: #0A2463;

$green: #00CC66;

$yellow: #FFC43D;

$lime: #CEFF1A;

$red: #D00A01;

$pink: #EF476F;

$orange: #FB5012;

$purple: #3C1642;