.wrapper {
  width: 100%;
  padding: 1rem;
}

.wrapper.full {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: start;

  //background: rgba(0,0,0,0.8);
  //padding: 1rem;

}

.grid-item {
  margin-bottom: 1rem;
}
//
//.grid-50 .grid-item {
//  background: GOLD;
//}
//
//.grid-50.grid-first .grid-item {
//  background: SALMON;
//}
//
//.grid-50.grid-last .grid-item {
//  background: LIGHTPINK;
//}
//
//.grid-25 .grid-item {
//  background: LIMEGREEN;
//}
//
//.grid-25.grid-double .grid-item:first-child {
//  background: BURLYWOOD;
//}
//
//.grid-25.grid-double .grid-item:last-child {
//  background: PALETURQUOISE;
//}
//
//.grid-33 .grid-item {
//  background: LIGHTBLUE;
//}
//
//.grid-33.grid-double .grid-item:first-child {
//  background: ROSYBROWN;
//}
//
//.grid-100 .grid-item {
//  background: CHOCOLATE;
//  text-align: center;
//}

@media (min-width: 640px) {

  .grid-map {
    grid-template-columns: 800px 1fr;
    grid-template-areas: "main sidebar_first sidebar_scond";
  }

  .grid-100 {
    justify-items: stretch;
  }

  .grid-100 .grid-item {
    justify-self: stretch;
  }

  .grid-50 {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-50.grid-last .grid-item {
    grid-column: 1/3;
  }

  .grid-50.grid-first .grid-item {
    grid-column: 1/3;
  }

  .grid-25 {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-25.grid-double .grid-item:first-child {
    grid-column: 1/3;
  }

  /* this is going too far, there must be a better way */
  .grid-25.grid-double.grid-last .grid-item:first-child {
    grid-column: 1/2;
  }

  .grid-25.grid-double.grid-last .grid-item:last-child {
    grid-column: 1/3;
  }

  .grid-33 {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-33.grid-double .grid-item:first-child {
    grid-column: 1/3;
  }

  .grid-33.grid-last .grid-item {
    grid-column: 2/4;
  }

  .grid-33.grid-first .grid-item {
    grid-column: 1/2;
  }

  .grid-33.grid-last.grid-double .grid-item {
    grid-column: 2/4;
  }

  .grid-33.grid-first.grid-double .grid-item {
    grid-column: 1/3;
  }

}


@media (min-width: 960px) {


  .grid-map {
    grid-template-columns: 1fr 800px 1fr;
    grid-template-areas: "sidebar_first main sidebar_second";
  }

  .grid-50.grid-last .grid-item {
    grid-column: 2/3;
  }

  .grid-50.grid-first .grid-item {
    grid-column: 1/2;
  }

  .grid-25 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  /* this is going too far, there must be a better way */
  .grid-25.grid-double.grid-last .grid-item:last-child {
    grid-column: 3/5;
  }

  .grid-33 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-33.grid-last .grid-item {
    grid-column: 3/4;
  }

}

