/* @override http://risperdal.student.utwente.nl/shoutboxpro/modules/mod_shoutbox/css/mod_shoutbox.css */

.shoutbox {
	/*Uncomment width below*/
	/* width: 220px; */
	
	color: #333333;
}

.shoutboxtop {
	/* Borders */
	border: 0px solid #009999;
	
	font: 11px helvetica, arial, sans-serif;

}

.chatoutput {
	/* Height of the shoutbox*/
	height: 200px;
	background:#111111;
	
	/* Horizontal Scrollbar Killer */
	padding: 0px 8px;
	
	overflow: auto;
}

.chatoutput span {
font-size: 1.1em;
color: #009999;
}

.chatForm label, #shoutboxAdmin {
display: block;
margin: 4px 0;
}

.chatoutput a {
font-style: normal;
font-weight: bold;
color: #009999}

/* User names with links */
.chatoutput li span a {
font-weight: normal;
display: inline !important;
border-bottom: 1px dotted #009999}

.chatForm textarea {
width: 150px;
}

.sbsound_btn {
	width: 16px;
	height: 16px;
	float: left;
	padding: 9px;
}


.chatoutput ul.outputList {
padding: 0;
position: static;
margin: 0;
}

.chatoutput li {
padding: 4px;
margin: 0;
	color:#999;
background: none;
font-size: 1em;
list-style: none;
text-overflow:ellipsis;
overflow:hidden;
width: 99%;
}

/* No bullets from Kubrick et al. */
.chatoutput ul.outputList li:before {
content: '';
}

ul.outputList li:first-line {
line-height: 16px;
}

.lastMessage {
padding: 4px;
text-align: center;
border-bottom: 2px dotted #666666;
color:#666}

em.responseTime {
font-style: normal;
display: block;
}

.chatoutput .avatar img {
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 4px;
	border: 1px solid #C0C0C0;
}

.chatoutput .wp-smiley {
vertical-align: middle;
}

.homepage {
	display: none;
}