@import "_settings";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $grey-light;
  background-color: $black-rich;
  //background-image: url(../images/pyramid-city-panorama.png);
  background-size: contain;
  //background-repeat: no-repeat;
  //background-position: 50% 50%;
  //background-attachment: fixed
}

#dusk {
  background: url(../images/city-top-dusk.jpg) #000 center top no-repeat;
  background-size: 100% auto;
}

#night {
  background: url(../images/city-top-night.jpg) #000 center top no-repeat;
  background-size: 100% auto;
}

#dawn {
  background: url(../images/city-top-dawn.jpg) #000 center top no-repeat;
  background-size: 100% auto;
}

#day {
  background: url(../images/city-top-day.jpg) #000 center top no-repeat;
  background-size: 100% auto;
}

.layout,
.header{
  margin: 0 auto;
}

.layout {
  max-width: 80vw;
}