body {
    font-family: verdana, helvetica, arial, sans-serif;
}

.gamePanel {
    margin: 5px auto;
    width: 580px;
    border: 1px solid black;
    overflow: hidden;
    position:relative;
}

#gamespace {
    height: 380px;
}
#clickmap {
    position: absolute;
    height: 400px;
    width: 58px;
    z-index: 1000;
}
#clickmap img {
    width: 580px;
    height: 400px;
    border:none;
}
#clickmap map {
    cursor:pointer;
}
#controlpanel {
    height: 100px;
    background: #666666;
}
#infopanel {
    border:none;
    text-align:center;
    font-size: 10px;
}

#gs_loading {
    text-align: center;
    line-height: 480px;
    font-size:40px;
    background: #444444;
    color:#ffffff;
    z-index:10;
}

#gs_background {
    position: absolute;
    width:640px;
    height:480px;
}

#talking {
    position: absolute;
    width:640px;
    height:3em;
    bottom:180px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;  
    text-align: center;
    z-index:3000;
}

#gs_talkopts {
    position: absolute;
    width:640px;
    height: 100px;
    background: #666666;
    z-index:50;
}
.talkopt {
    cursor:pointer;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;  
}

.pachar {
    position: absolute;
    width: 50px;
    height: 100px;
    z-index: 2000;
}

.actionbutton {
    width:120px;
    height:38px;
    margin:4px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: #ff2819;
    background: -moz-linear-gradient(top, #ff2819 0%, #ab0000);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2819),to(#ab0000));
    border: 1px solid #7d0000;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7);
}

.activebutton {
    background: #ab0000;
    background: -moz-linear-gradient(top, #ab0000 0%, #ff2819);
    background: -webkit-gradient(linear, left top, left bottom, from(#ab0000),to(#ff2819));
    border: 1px solid #7dffff;
}
