/*
 * {margin:0;padding:0}
 body{background:#666;font-family:'Lucida Sans Unicode',Arial,sans-serif;color:#333;text-align:center;padding:0}
 div,li{margin:0}
 li{margin-left:16px;}
 h1{color:#009999;text-align:center;padding-bottom:10px}
 h2{color:#999;font-size:16px;font-weight:normal}
 pre{background:#666; color:#fff; padding:10px; margin:10px; height:auto; overflow:auto; font:12px Verdana,Courier,sans-serif}
 * html pre {width:100%}
 */

.description{padding:16px;margin:10px 0;background:#eee}

.sample{padding:0; margin:0; border:1px solid #333}

h4.stitle{color:#666;margin:0 0 5px 0}

.links {padding:10px;margin-top:20px}
.links a{font-size:14px;color:#0080FF;text-decoration:none}
.links a:hover{font-weight:bold}

#cont{width:550px;margin:0 auto;background:#fff;text-align:left;padding:20px}

/*
.buttons{padding:5px;}
.buttons span{color:#0080FF;padding:0 5px;cursor:pointer;font:10px Verdana}
.buttons span.active, .buttons span:hover{background:#0080FF;color:#fff}*/

/* /23\ */
.buttons{padding:5px;}
.buttons span{color:#666;border:1px solid #3F3F3F;background:#333;padding:0 5px;cursor:pointer;font:80%;text-transform:uppercase}
.buttons span.active, .buttons span:hover{background:#0080FF;color:#fff}

/* /23\ */
ol.buttons{padding:5px;margin:0;}
ol.buttons li{padding:0;margin:0;display:inline-block; float:left;}
ol.buttons span{color:#666;border:1px solid #3F3F3F;background:#333;padding:0 5px;cursor:pointer;font:80%;text-transform:uppercase}
ol.buttons span.active, ol.buttons span:hover{background:#0080FF;color:#fff}

#handles {
	float:left;
	width:100%;
	border-bottom:4px solid #000;
	overflow:hidden;
	position:relative;
}
#handles ol {
	clear:left;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
#handles ol li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
}
#handles ol li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	background:#ddd;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
}
#handles ol li a:hover {
	background:#369;
	color:#fff;
}
#handles ol li a.active,
#handles ol li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
