


/***************** SASS READY *****************


#009999
$teal: rgba(0,153,153,1);

#00ffff
$turquoise: rgba(0,255,255,1);

#8C2424
$red: rgba(140,36,36,1);

#1A821A
$green: rgba(26,130,26,1);

#F41DC9
$pink: rgba(244,26,201,1);

