/*******************************************************************************************
*                           Horizontal dropdown suckerfish menu                            *
*******************************************************************************************/

/* common styling */
#nav {float:right; direction: rtl;}
#nav ul {padding:0; margin:0;list-style-type: none; }
#nav ul li {float:right;direction: rtl;}
#nav ul li ul {display: none;}

/* specific to compliant browsers browsers */
#nav ul.menu-nav li:hover ul {right:0; direction: rtl;}
#nav ul.menu-nav li:hover ul li:hover ul {left:-105px;direction: rtl;}

/* specific to IE6 and below browsers */
#nav ul.menu-nav li.iehover ul {right:0;direction: rtl;}
#nav ul.menu-nav li.iehover ul li.iehover ul {left:-105px;direction: rtl;}

/*******************************************************************************************
*                       Left Column Vertical fly-out suckerfish menu                       *
*******************************************************************************************/


#left ul#mainlevel li, #left ul.menu li {
float: right; /*For IE 7 lack of compliance*/
display: block !important; /*For GOOD browsers*/
display: inline; /*For IE*/
position: relative;
direction: rtl;
}


#left ul.menu ul,
#left ul.menu ul ul,
#left ul.menu ul ul ul {
display: none;
position: absolute;
top: 10px;
right: 75%;
z-index:900;
}

/* @end */

/*******************************************************************************************
*                      Right Column Vertical fly-out suckerfish menu                       *
*******************************************************************************************/

#right ul#mainlevel li, #right ul.menu li {
width: 100%;
list-style:none;
padding:0 0 0 0;
margin:0;
text-align:left;
direction: rtl;
}

#right ul#mainlevel li,
#right ul.menu li {
float: right; /*For IE 7 lack of compliance*/
display: block !important; /*For GOOD browsers*/
display: inline; /*For IE*/
position: relative;
direction: rtl;
}

#right ul.menu ul,
#right ul.menu ul ul,
#right ul.menu ul ul ul {
display: none;
position: absolute;
top: 10px;
right: -75%;
z-index:900;
}

/* @end */