<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>One World Sounds :: DJ Will Softly :: Funktion One :: Will Softly</title>
</head>

<body background="imagenes/fondo.jpg">
<table width="775" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="imagenes/fondo_arriba.jpg" width="775" height="274" /></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><img src="imagenes/home.jpg" width="775" height="26" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><iframe src="home_info.html" width="100%" height="215"></iframe></td>
  </tr>
  <tr>
    <td><img src="imagenes/fondo_pie.jpg" width="775" height="46" /></td>
  </tr>
</table>

<map name="Map" id="Map">
<area shape="rect" coords="267,2,352,30" href="giglisting.html" />
<area shape="rect" coords="366,1,460,32" href="equipment.html" /><area shape="rect" coords="472,2,575,31" href="musicideas.html" /><area shape="rect" coords="586,1,650,35" href="photos.html" /><area shape="rect" coords="663,2,735,34" href="contact.html" />
</map></body>
</html>
