/* RGBA -> Red Green Blue Alpha

Alpha channel = value of 0% is fully transparent, a value of 100% is fully opaque 

rgba(0,0,0,1); -> black
rgba(123,123,123,1); -> grey
rgba(203,203,203,1); -> light grey
rgba(255,255,255,1); -> white

rgba(255,0,0,1); -> red
rgba(0,255,0,1); -> green
rgba(0,0,255,1); -> blue

*/

body {
font-family:arial, sans-serif;
color:rgb(0,0,0);
}

#container {
background: rgba(203,203,203,1);
margin: 0 auto;
width: 574px;
height:456px;
padding: 10px;
text-align: center;
border: 3px solid rgba(123,123,123,1);
overflow:hidden;
}

h3#title {
color:rgba(255,255,255,1);
background:rgba(0,0,255,1);
margin:0;
}

canvas {
border: 1px solid rgba(255,255,255,1);
}

a {color:rgb(0,0,0);}
a:hover {color:rgb(255,255,255);}

#container p {
text-align:left;
}

#float_left {
float:left;
background: rgba(255,0,0,1);
margin: 10px ;
width: 245px;
padding: 10px;
border: 1px solid rgba(0,0,0,1);
}

#float_right {
float: right;
background: rgba(0,255,0,1);
margin: 10px;
width: 245px;
padding: 10px;
border: 1px solid rgba(0,0,0,1);
}

#float_left:hover,
#float_right:hover {
background: rgba(0,0,0,1);
color: rgba(255,255,255,1);
}
