<!DOCTYPE HTML>
<metacharset=utf-8>
<title>Phaser Test Game</title>
<html>
    <head>
        <link href="_site/css/phaser-examples.css" media="screen" rel="stylesheet" type="text/css">
        <!-- Phaser -->
         <script src="_site/js/jquery-2.0.3.min.js"></script>
        <script src="_site/js/phaser.js"></script>
        <script>
        var playState= new Array();
        </script>

        <!-- Main Game File -->
        <script src="phaser-tiled.js"></script>
        <script src="playstate.js"></script>
         <script src="playstate2.js"></script>     
         <script src="playstate3.js"></script>  
         <script src="playstate4.js"></script>    
         <script src="playstate5.js"></script>
        <script src="playstate6.js"></script>
        <script src="playstate7.js"></script>
        <script src="playstate8.js"></script>
        <script src="playstate9.js"></script>
        <script src="playstate10.js"></script>
        <script src="loadstate.js"></script>
        <script src="tile.js"></script>
    </head>
    <body>     <div id ="world"></div>   </body>
</html>
