<!DOCTYPE HTML>
<metacharset=utf-8>
<title>Phaser Test Game</title>
<html>
    <head>
    
    <style>
    
        <!-- Phaser -->
          <link href="_site/css/phaser-examples.css" media="screen" rel="stylesheet" type="text/css">
        <script src="_site/js/phaser.js"></script>
        <!-- Main Game File -->
        <script src="phaser-tiled.js"></script>
        <script src="playstate.js"></script>
        <script src="loadstate.js"></script>
        <script src="tile.js"></script>
    </head>
</html>
