
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.fluid {
width:100%;
}

a#withdraw,a#deposit,#submit_c{
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	text-decoration:none;
}
a#withdraw:hover,a#deposit:hover,#submit_c:hover{
	background:rgba(160,8,8,1);
}
#quantity_box_button_up {
	background: #333;
	color:#FFF;
	width:16px;
	text-align:center;
	border: 0 solid #111111;
	margin:0;
}
#quantity_box_button_down {
	background: #333;
	color:#FFF;	width:16px;
	text-align:center;
	padding:0 2px;
	border: 0 solid #111111;
	margin:0;
}
#bank_right {
	width : 50%;
	float:right;
}
#bank_left {
	width:50%;
	float:left;
}
#bank_cash {
	background:#333;
}
.q1 {
	width:30px;
}
.clr, .clear {
	clear:both;
}
div#container {
	font-family:arial;
	color:white;
}
div#building_info_table {
	float:left;
}
div#building_info_table td:first-child {
	text-transform:uppercase;
	font-size:75%;
	color:#666;
}




table.shade-table {
	width:100%;
	text-align:left;
	margin:0;
}

table.shade-table th{
	font-weight:bold;
	text-transform:uppercase;
	background:#1F1F1F;
	color:#FFF;
padding:0 0 0 15px;
vertical-align:middle;
}
table.shade-table td{
padding:0 0 0 5px;
vertical-align:middle;
}

tr.d0 td,
table.shade-table tr:nth-child(even),
.sectiontableentry1  {
background-color: #080808;
color: #ccc;
border-bottom:1px dotted #333;
}

tr.d1 td,
table.shade-table tr:nth-child(odd),
.sectiontableentry2 {
background-color: #131313;
color: #ccc;
border-bottom:1px dotted #333;
}

.cbft_image {
background-color: transparent;
border-bottom:0 dotted #333;
}







div#spec{
	margin:10px;
}
div#container {
	color:#fff;
	font-family:arial, sans-serif;
	font-size:80%;
	margin-bottom:20px;
}
div#vacant {
	width:260px;
	float:right;
	border:1px solid #333;
	padding:5px;
}
div#vacant p {
	margin:0 0 1em 0;
}
div#mine_board{
	text-align:center;
	font-weight:bold;
	margin:0;
	position:absolute;
	top:44;/*height of h3 name */
	left:0;
	z-index:111;
	width:636px;
}
div#mine_board img{
	float:none;
}
div#mine_progress {
	text-align:center;
	margin:0;
	position:absolute;
	top:44;/*height of h3 name */
	left:0;
	z-index:222;
	width:636px;
}
	
	
div#mine_board p,
div#mine_progress p {
	margin:0;
}
#mine_board1,
#meter {
text-align:center;
}

.mine ul li {
display:inline;
}


.upgrade{
	width:28%;
	float:left;
	padding:0 3px;
	border:1px solid #333;
	margin:0 5px 0 0;
}
.upgrade:last-child{
	margin:0;
}
.upgrade_main{
	margin:5px 0;
}
div#crystals_board{
	text-align:center;
	font-weight:bold;
	background:#666;
	border:1px solid #333;
}
div#crystals_board div.insert a:link,
div#crystals_board div.insert a:visited {
	display:inline;
	float: left;
	width:66px;
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 0px 5px 10px 10px;
}
div#crystals_board div.insert a:hover {
	background:rgba(160,8,8,1);
	border:1px solid #fff;
}
div#crystals_board div.remove a:link,
div#crystals_board div.remove a:visited {
	display:inline;
	float: right;
	width:66px;
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 0px 10px 10px 5px;
}
div#crystals_board div.remove a:hover {
	background:rgba(160,8,8,1);
	border:1px solid #fff;
}
/* end JIGS.CSS early version - delete eventually */
.clr, .clear {
	clear:both;
}
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix {
	min-width: 0; 
	display: inline-block; /* \*/	
	display: block;
}
body {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;}
a:link, a:visited {
	color:#ccc;}
a:hover {color:#fff;}
/* Containers per view */
#building {
	background:#000;
	color:#fff;
	padding:0.5em;
	/*margin-bottom:10px;
	border:1px solid #252525;*/
}
#profile {
	background:#000;
	color:#fff;
	margin-bottom:10px;
	border:1px solid #252525;
}
#weapons {
	background:#000;
	color:#fff;
	margin-bottom:10px;
	border:1px solid #252525;
	padding:20px;
}
.weapon_swap{
	padding:5px;
	margin:0 0 10px;
	color:#fff;
	border:1px solid #252525;
	text-align:center;
}
#weapon {
	padding:5px;
	margin:0 0 10px;
	color:#fff;
	border:1px solid #252525;
	text-align:center;
}
div.weapons_left {
	width:40%;
	float:left;
}
div.weapons_right {
	width:58%;
	float:right;
}
div.weapon_swap h4 {
	color:#fff;
	background:#003535;
	text-align:center;
	margin:-5px -5px 5px;
	text-transform:uppercase;
}
div#weapons p {
	margin:0 0 10px;
}

.weapons div.row {
  border-bottom: 1px solid #222222;
  clear: both;
  display: block;
  float: none;
  margin: 0;
  text-align: left;
}

#inventory.weapons span.price {
background:#222;
display:inline-block;
color:#ccc;
font-size:85%;
margin-left:10px;
padding:0 5px;
}




div.building_left {
	width:60%;
	min-height: 377px;
	float:left;
	
}
div.building_right {
	width:40%;
	min-height: 377px;
	float:right;
}


/* Images, description, stats etc. */
div#info {
	/*border:1px solid #252525;*/
	padding:0.5em;
	min-height:238px;
}
div.name {
	background:#333;
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin:0 0 10px;
	padding: 5px;
	text-transform:uppercase;
}
div.desc {
	width:60%;
	float:left;
}
div#profile div.desc {
	width:50%;
	float:left;
}
img.thumbnail {
	float: left;
	margin: 0 10px 10px;
	border: 3px solid #333;
}
p.desc {
	margin:0;
	padding: 0 5px 10px 10px;
	font-size:8pt;
	text-align:left;
}
div.stats {
	float: right;
	width: 35%;
	margin:0 10px 10px 0;
}
table.stats {
	width: 100%;
	border-left:1px solid #252525;
	border-right:1px solid #252525;
	border-top:1px solid #252525;
	white-space:wrap;
	margin:0;
}
table.stats th {
font-weight:normal;
	width: 50%;
	text-align:left;
	background:#333;
	border-bottom:1px solid #252525;
	padding: 0 2px 0 5px;
	font-size:8pt;
}
table.stats td{
	width: 50%;
	text-align:left;
	border-bottom:1px solid #252525;
	padding: 0 2px;
	font-size:8pt;
}
div#status {
	float: left;
	width: 100%;
	border:1px solid #252525;
	/*padding:10px;*/
	min-height:375px;
}
div.extra {
	/*width: 385px;
	height: 125px;
	margin:10px 0 0 0;
	border:1px solid #252525;*/
	padding:0.5em;
}

/* Specific management details */
div.ownership {}
p.owner {
	background:#333;
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin:0 0 10px;
	padding: 5px;
}
p.instructions {
	margin:0;
	padding:0 10px 10px;
	font-size:8pt;
}
/* Inventory */
div#inventory {height:210px;}
div#inventory div.name {margin:0;padding:0 0 0 5px;text-align:left;}
div#profile+div#inventory {
	width:32%;
	float:left;
	border:1px solid #252525;
	margin:0 10px 10px 0;
}
div#inventory div.object {
display:block;
float:left; 
background:rgba(0,0,0,0.7);
border:#222 dotted 1px;
margin:2px 2px 0 0;
text-align:center;
}

#inventory .stand_left .object{
background:rgba(0,153,153,0.5);
border:#009999 dotted 1px;
}

#inventory .stand_left .name {
background:rgba(0,153,153,1);
}

div#inventory div.object a {
padding:2px;
display:block;
background:rgba(0,0,0,0);
}
div#inventory div.object a:hover{
background:rgba(255,255,255,0.2);
}
div#inventory a.buy,
div#inventory a.sell {
cursor:pointer;
background:rgba(26,130,26,1);
padding:0 5px;
display:inline-block;
float:right;
}
div#inventory a.buy:hover,
div#inventory a.sell:hover {
background:rgba(160,8,8,1);
}
div#inventory a.buy:focus,
div#inventory a.sell:focus {
background:blue;
}
div#inventory span.price {
display:block;
background:#222;
color:#ccc;
font-size:85%;
}

.apt #inventory  {
  height:100%;
  overflow: hidden;
}
#building_inventory_table,
#my_inventory,
.apt #inventory #building_inventory_table,
.apt #inventory #my_inventory {
  max-height: 300px;
  overflow: auto;
}


/* Player Actions */
div#action {
	margin:0 10px 10px;
}
div.buy, div.attack, div.recruit, div.kick, div.punch, div.shoot, div.bribe, div.rob, div.talk, div.buy_battery, div.sell_battery  {
	float: left;
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 10px 3px 0 0;
}
div.buy:hover, div.attack:hover, div.recruit:hover, div.kick:hover, div.punch:hover, div.shoot:hover, div.bribe:hover, div.rob:hover, div.talk:hover, div.buy_battery:hover, div.sell_battery:hover {
	background:rgba(160,8,8,1);
	border:1px solid #fff;
	cursor:pointer;
}
a.buy, a.sell, a.attack, a.recruit, a.kick, a.punch, a.shoot, a.bribe, a.rob, a.talk, div.buy_battery a, div.sell_battery a   {
	color:#FFF;
	text-decoration:none;
}
a.buy:hover, a.sell:hover, a.attack:hover, a.recruit:hover, a.kick:hover, a.punch:hover, a.shoot:hover, a.bribe:hover, a.rob:hover, a.talk:hover, div.buy_battery a:hover, div.sell_battery a:hover {	
	color:#CCC;
	text-decoration:none;
}
/* NPC and Player Layout */
div.vitals {
	float: left;
	width: 33%;
	margin:0 10px 10px 0;
}
div.gauge {
	background: none repeat scroll 0 0 #0F0F0F;
	border: 1px solid #333;
	border-radius: 25px 25px 25px 25px;
	color: #000000;
	width: 130px;
	float:right;
	margin:5px 0;
}
div.gauge span {
	padding-left: 15px;
}
div.label {
	color:#fff;
	text-align:left;
	font-size:8pt;
	text-transform:uppercase;
	float:left;
	margin:10px 0 2px;
}


div#xp {
	background: none repeat scroll 0 0 #00FF00;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
div#intel {
	background: none repeat scroll 0 0 #FFFF00;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
div#strength {
	background: none repeat scroll 0 0 #0000FF;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
div#health {
	background: none repeat scroll 0 0 rgba(160,8,8,1);
	border-radius: 25px;
	padding: 0 0 0 15px;
}
/* /23\ ################ NOOB SLIDE ############*/
#building_noob.sample{padding:0 10px; margin:0 auto; border:0px solid #333;text-align:center;}
#building_noob #box5{
	position:absolute;
	width:100%;
}
#building_noob #info5{
	bottom:0;
	height:200px;
}
#building_noob .info{
	width:100%;
	background:#000;
	position:absolute;
}
#building_noob .mask2{
	position:relative;
	width:100%;
	height:180px;
	overflow:hidden;
}
div#diner_noob.sample .buttons{padding:0;background:#333;}
div#diner_noob.sample .buttons span{color:#666;border:0px solid #3F3F3F;padding:0 10px;cursor:pointer;font:80%;text-transform:uppercase}
div#diner_noob.sample .buttons span.active, 
div#diner_noob.sample .buttons span:hover{background:none;color:#fff}
/* /23\ ################ CONVEYOR ############*/
label {
	color:#fff;
	font-size:8pt;
	text-transform:uppercase;
}
div#conveyor_progress {
	height:60px;
	position:absolute;
	z-index:333;
	top:0;left:0;
	background:url(../images/jigs_loader.gif) no-repeat 50% 100% #000;
}
form.conveyor input .inputbox{
	margin-right:3px;
	border:1px solid #666;
}
#submit_c {
	display:block;
	margin:5px 10px 0;
	padding:0 10px;
	width:100px;
	float:right;}
form.conveyor select#blueprints {
	max-width:100px;
	min-width:40px;}





form.conveyor .object{
	text-align:left; 
	display:inline-block;
	width:38%;
	float:left;
	margin:0 1% 0 2%;
	padding:0 10px 10px;
	border:1px dotted #F00;
	height:80px;
}
form.conveyor .metal {
	text-align:left; 
	display:inline-block;
	width:56%;
	float:right;
	margin:0 2% 0 1%;
	padding:0 10px 10px;
	border:1px dotted #FF0;
	height:80px;
}
input#id1{
display:none;
}

form.conveyor .object2{
	text-align:left; 
	display:inline-block;
	width:260px;
	float:left;
	margin:0 5px 0 10px;
	padding:0 10px 10px;
	border:1px dotted #F00;
	height:72px;
}
form.conveyor .metal2 {
	text-align:left; 
	display:inline-block;
	width:300px;
	float:right;
	margin:0 10px 0 5px;
	padding:0 10px 10px;
	border:1px dotted #FF0;
	height:72px;
}






.generator,
.batteries_inv {
width:50%;
padding:0 10px;
float:left;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}
.generator ul li,
.batteries_inv ul li {
  border-bottom: 1px dotted #333333;
  color: #CCCCCC;
  font-size: 10px;
  margin: 0;
  padding: 0 3px;
}

.generator li:nth-child(2n),
.batteries_inv li:nth-child(2n) {
  background-color: #080808;
}

.generator li:nth-child(2n+1),
.batteries_inv li:nth-child(2n+1) {
  background-color: #131313;
}




div#time_elapsed{
	text-align:center; 
	display:inline-block;
	width:50%;
	float:left;
	padding:0;
	color:#FFF;border:1px solid #333;background:rgba(26,130,26,1);
}
	
div#time_remaining{
	text-align:center; 
	display:inline-block;
	width:50%;
	float:right;
	padding:0;
	color:#FFF;border:1px solid #333;background:rgba(160,8,8,1);
}

div#time_elapsed label,
div#time_remaining label{
color:#fff;
}

#box4 ul {
	list-style-type: disc;
}
div#sell_crops  {	
	width:200px;
	background:rgba(160,8,8,1);
	padding:3px 10px;
	border:1px solid #fff;
	margin: 10px 3px 0 0;
	color:#FFF;
}

div#sell_crops:hover {
	background:rgba(160,8,8,1);
	border:1px solid #fff;
	color:#CCC;
	text-decoration:none;
}

div.work_field {text-align:center;}
div.work_field  img{float:none !important;}

div#batteries .label,
div#flats .label,
div#metal .label,
div#inventory .label,
div#stats .label ,
div#inventory_module .label,
div#stats_module .label,
div#weapon_module .label,
.apt .label {
	text-align:left;
	display:inline-block;
	text-transform: uppercase;
	font-size: 85%;
	font-weight: bold;
	color:#999;
	margin:0 5px 0 0;
	background-color:rgba(0,0,0,0.8);
}

div#weapon_module a {
	text-align:center;
	display:block;
	margin:0 auto;
}

/* Apartment Layout */
#leave {
	background:rgba(160,8,8,0.85);
	cursor:pointer;
	position:absolute;
	top:30%;
	left:0;
	width:150px;
	text-align:center;
	z-index:999;
	padding:10px 20px;
	-moz-border-radius: 0px 20px 20px 0;
	-webkit-border-radius: 0px 20px 20px 0;
	border-radius: 0px 20px 20px 0;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}
#leave:hover {
	background:rgba(26,130,26,0.85);
}
.apt {
	background:url(../images/interior.jpg) 50% 0 no-repeat #000;
	height:600px;
	background-size:cover;
	position:relative;
	}
.ward_bg {
	background:url(http://www.eclecticmeme.com/components/com_battle/images/ward.jpg) 50% 0 no-repeat #000;
	height:600px;}
.ward_bg p {
	background:#333;
	padding:5px 10px;}
div#eat_burger {
	cursor:pointer;
	/*width:600px;*/
	margin:0 auto;
}
.board_buttons #primary {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) 0 0 no-repeat #000;
}
.board_buttons #primary:hover,
.board_buttons #primary.active {
	background:url(../images/buildings/board_sprites.png) 0 -40px no-repeat #000;
}
.board_buttons #distr {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -40px 0 no-repeat #000;
}
.board_buttons #distr:hover,
.board_buttons #distr.active  {
	background:url(../images/buildings/board_sprites.png) -40px -40px no-repeat #000;
}
.board_buttons #defence {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -80px 0 no-repeat #000;
}
.board_buttons #defence:hover, 
.board_buttons #defence.active {
	background:url(../images/buildings/board_sprites.png) -80px -40px no-repeat #000;
}
.board_buttons #hr {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -120px 0 no-repeat #000;
}
.board_buttons #hr:hover,
.board_buttons #hr.active  {
	background:url(../images/buildings/board_sprites.png) -120px -40px no-repeat #000;
}
.board_buttons #energy {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -160px 0 no-repeat #000;
}
.board_buttons #energy:hover,
.board_buttons #energy.active  {
	background:url(../images/buildings/board_sprites.png) -160px -40px no-repeat #000;
}



.black {
color:#000;}
.highlight{
color:#000;background:#666;
padding:0 2px; margin:0 2px;}
.red{
color:#000;background:rgba(160,8,8,1);
padding:0 2px; margin:0 2px;}
.red a{
color:#000;font-weight:bold;text-decoration:none;}




/* Apartment */

div#flats {overflow:auto;/*height:210px;*/}

div#flats div {float:left;display:inline-block;}
div#flats div.row {float:none;display:block;clear:both;margin:0;text-align:left;
border-bottom:1px solid #222;
}

div.flats.row div:first-child {width:48%;}
div.flats.row div:nth-child(2) {width:18%;}
div.flats.row div:nth-child(3) {width:5%;}
div.flats.row div:last-child {width:28%;}

@media (max-width: 768px){

	div#flats div.row div:first-child {width:100%;padding:0.5em 1em;}
	div#flats div.row {padding:1em;}
	div#flats div.row div:nth-child(2) {width:40%;}
	div#flats div.row div:nth-child(3) {width:20%;}
	div#flats div.row div:last-child {width:40%;}

}

div#flats h4 {
margin:0;
text-align:center;
font-size:14px;
}
div#flats h4 a {
background:rgba(160,8,8,1);
color:white;
display:block;
border-bottom:1px solid #333;
padding:0 3px;
}
div#flats h4 a:hover {
text-decoration:none;
}

/* ends with" substring matching attribute selector - Click here to rent = Vacant */
div#flats h4 a[title$="Rent"]{
background:rgba(26,130,26,1);
}

/*
 #demo { 
  background:#fa0000; 
  color:#fff; 
  padding:0px; 
  border:1px solid #000;
  width:37px;
  height:37px;
position:absolute;
z-index:1;
}
.character { 
  background:#fa0000; 
  color:#fff; 
  padding:0px; 
  border:1px solid #000;
  width:48px;
  height:48px;
position:absolute;
z-index:888;
}

.character a { 
display:block;
}
.character a img.npc { 
display:block;
}



#demo  {
-webkit-transition: z-index 1s ease-in-out;
-moz-transition: z-index 1s ease-in-out;
-o-transition: z-index 1s ease-in-out;
transition: z-index 1s ease-in-out;
}


#demo:hover {
z-index:999;
}

.character a img.npc{
-webkit-transition: z-index 1s ease-in-out;
-moz-transition: z-index 1s ease-in-out;
-o-transition: z-index 1s ease-in-out;
transition: z-index 1s ease-in-out;
}
.character a img.npc:hover {
z-index:1;
}

*/


/* Tooltips */
.tip-title {font-weight: bold;}


.tip-wrap {    z-index: 10000;

background-color:rgb(185,224,247);
color:rgb(0,52,107);
}
.tip {
background-color:rgb(185,224,247) !important;
border: 1px solid rgb(0,52,107);
   padding: 5px;
   max-width: 200px;
text-align:left;   float: left;
}



div#messages {
padding-top:5px;
/*max-height:180px;
overflow-y:auto;*/
}


div#messages p {
color: #ccc;
border-bottom:1px dotted #333;
margin:0;
padding:0 3px;
font-size:10px;
}

div#messages p[display=table-row] {
border-bottom:1px dotted #009999;
animation: fadeout 5s;
-moz-animation: fadeout 5s; /* Firefox */
-webkit-animation: fadeout 5s; /* Safari and Chrome */
-o-animation: fadeout 5s; /* Opera */
}

div#messages p:nth-child(odd) {
background-color: #080808;
}

div#messages p:nth-child(even) {
background-color: #131313;
}



@keyframes fadeout
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
}

@-moz-keyframes fadeout /* Firefox */
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
}

@-webkit-keyframes fadeout /* Safari and Chrome */
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
}

@-o-keyframes fadeout /* Opera */
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
} 







/* NPC - new compact layout */








div.owner_status_msg {
  border: 1px solid #333333;
  margin: 0;
  padding: 0;
  min-height:165px
}


div.owner_status_msg.owned {
background:url(../images/nova_police.jpg) no-repeat 0 0 #000;
}
div.factory.owner_status_msg.not_owned {
background:url(../images/buy_factory.jpg) no-repeat 0 0 #000;
}


div.buildings_class,
div.pages_class,
div.character,
div.players{
cursor:pointer;
}


input[type="button"]{
background: #009999;
color:#000000;
border: 1px solid #333333;
}

.moduletable input[type="button"]{
width:100%
}

input[type="button"]:hover{
background: #00FFFF;
color:#000000;
border: 1px solid #333333;
}

#building_function {
margin:0.5em 0 0;
border: 1px solid #333333;
}

/* Stand / Shop */

.stand_left{float:left;width:50%;}
.stand_right{float:right;width:50%;}




/* Single Map view */


#demo { 
background-color:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:48px;
height:48px;
position:absolute;
z-index:999;
}
.character { 
background:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:48px;
height:48px;
position:absolute;
z-index:111;
}
.players { 
background:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:48px;
height:48px;
position:absolute;
z-index:111;
}








.buildings_class { 
color:#fff; 
padding:0px; 
border:0px solid #000;
width:37px;
height:37px;
position:absolute;
z-index:999;
}
.pages_class { 
background:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:37px;
height:37px;
position:absolute;
z-index:1;
}
#world a { /*right,left,up,down*/
font-weigth:400;
color:#fff;
text-transform: uppercase;
font-size: 0.85em;
}

a#move_demo {cursor:pointer;}

a.up {
display:block;width:54px;height:18px;float:left;background:url(/components/com_battle/views/single/tmpl/up.png) transparent 50% 0 no-repeat;text-align:center;}
a.right {
display:block;width:18px;height:18px;float:left;background:url(/components/com_battle/views/single/tmpl/right.png) transparent 100% 0 no-repeat;text-align:right;}
a.down {
display:block;width:54px;height:18px;float:left;background:url(/components/com_battle/views/single/tmpl/down.png) transparent 50% 0 no-repeat;text-align:center;}
a.left {
display:block;width:18px;height:18px;clear:both;background: url(/components/com_battle/views/single/tmpl/left.png) transparent 0 0 no-repeat;text-align:left;}
a.mid {
background:#009999;
width:18px;
height:18px;
float:left;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
a.mid:hover {background:#00FFFF;}

a.up:hover{background-image:url(/components/com_battle/views/single/tmpl/up-hover.png);}
a.right:hover{background-image:url(/components/com_battle/views/single/tmpl/right-hover.png);}
a.down:hover{background-image:url(/components/com_battle/views/single/tmpl/down-hover.png);}
a.left:hover{background-image:url(/components/com_battle/views/single/tmpl/left-hover.png);}




#world{
margin: 0 auto; 
text-align:center;
position:relative;
width: 100%;
}

.compass{width:54px;height:54px;margin:0 15px 0 0;float:left;}

@media (max-width: 768px){
	.compass{
	float:none;
	margin:0 auto 1em;
	width:108px;
	height:108px;
	}
	
	.compass a{
	background-size:contain;
	}
		
	a.up{width:108px;height:36px;}
	a.left,
	a.mid,
	a.right{width:36px;height:36px;}
	a.down{width:108px;height:36px;}
	
}


#screen_grid{
width:400px;
height:400px;
margin: 0 auto; 
text-align:center;
background:#000;
position:relative;
}

#demo{
 background-size:cover;
 background-position:50% 50%;background-size:cover; 
}


.players{
 /*width:50px;
 height:50px;*/
 min-width:24px;
 min-height:24px;
 max-width:50px;
 max-height:50px;
 background-size:cover;
 background-position:50% 50%;
 }
 
 
.squares{
	display:inline; 
	position:absolute; 
	width:50px; 
	height:50px; 
	padding:5px;
	margin:0px;
	text-align:center;
}
 




.board_panel {
	width: 100%;
	padding: 1em;
	height: 310px;
	background-position:50% 50%;
	background-size:contain;
	background-repeat:no-repeat;
}





label {
font-size: 85%;
text-transform: uppercase;
color: #4B4B4B;
}

	/* Form */

	
	
	
button {
text-align: center;
font-size: 85%;
font-weight: bold;
line-height: 20px;
background: url(../images/button_bg.png) repeat-x #003535;
color: #009999;
border: 1px #009999 solid;
}

button:hover, 
button:focus {
border: 1px solid #999999;
background: #333333;
color: #FFFFFF;
}
select,
input{
border:1px solid #009999;
background:#101010;
color: #999999;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
border:1px solid #222222;
background:#101010;
color: #999999;
}

input:hover, 
input:focus {
border:1px solid #666;
}



#farm_controls_1 input[readonly]{
width:25px;
}

#farm_controls_1 .field-group {
width:100%;
clear:both;
padding:5px;
}

#farm_controls_1 label {
margin:0 8px;
}






/* Liquid Slider */

img.none {
width:100%;
}




/*
.panel {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	text-align:left;
	padding:0 5px 5px;
	width:233px;
}
.panel p {
	margin:0 0 5px;
}
*/




/* CONTENT SLIDER */
#content-slider {
	width:100%;
	height:125px;
	margin:0 auto;
}


/* SLIDER STRUCTURE */

#slider {
   background: #000;
   border: 0px solid #eaeaea;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	height:125px;
	width:100%;
   margin: 0 auto;
   overflow: visible;
   position: relative;
}

/* HIDE ALL OUTSIDE OF THE SLIDER */

#mask {
   overflow: hidden;
   height: 125px;
}

/* IMAGE LIST */

#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
   /*width: 385px;   Width Image */
   height: 125px; /* Height Image */
   position: absolute;
   top: -125px;	/* Original Position - Outside of the Slider */
   list-style: none;
   margin: 0;
   padding: 0;}


/* For the -moz-animation

1.  Define the total number of images to use in the slider
    5
	
2.  Define the length of -moz-animation for each image
    5 seconds
	
3.  Define the total duration of the -moz-animation
    Multiply the total number of images by the duration of each image:
    5 images � 5 seconds = 25 seconds
	
4.  Calculate how many keyframes equals one second
    Divide the total number of keyframes by the total duration of the -moz-animation.
    100 keyframes / 25 seconds = 4 keyframes
    4 keyframes = 1 second
	
*/

#slider li.firstanimation {
   -moz-animation: cycle 25s linear infinite;
   -webkit-animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
   -moz-animation: cycletwo 25s linear infinite;
   -webkit-animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
   -moz-animation: cyclethree 25s linear infinite;
   -webkit-animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
   -moz-animation: cyclefour 25s linear infinite;
   -webkit-animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
   -moz-animation: cyclefive 25s linear infinite;
   -webkit-animation: cyclefive 25s linear infinite;
}

/* -moz-animation */

@-moz-keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 125px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -125px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -125px; opacity: 0; z-index: 0; }
   96% { top: -125px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}

@-moz-keyframes cycletwo {
   0%  { top: -125px; opacity: 0; } /* Original Position */
   16% { top: -125px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 125px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -125px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -125px; opacity: 0; z-index: -1; }
}

@-moz-keyframes cyclethree {
   0%  { top: -125px; opacity: 0; }
   36% { top: -125px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 125px; opacity: 0; z-index: 0; }
   61% { top: -125px; opacity: 0; z-index: -1; }
   100%{ top: -125px; opacity: 0; z-index: -1; }
}

@-moz-keyframes cyclefour {
   0%  { top: -125px; opacity: 0; }
   56% { top: -125px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 125px; opacity: 0; z-index: 0; }
   81% { top: -125px; opacity: 0; z-index: -1; }
   100%{ top: -125px; opacity: 0; z-index: -1; }
}
@-moz-keyframes cyclefive {
   0%  { top: -125px; opacity: 0; }
   76% { top: -125px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 125px; opacity: 0; z-index: 0; }
}


/* -webkit-animation */

@-webkit-keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 125px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -125px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -125px; opacity: 0; z-index: 0; }
   96% { top: -125px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}

@-webkit-keyframes cycletwo {
   0%  { top: -125px; opacity: 0; } /* Original Position */
   16% { top: -125px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 125px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -125px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -125px; opacity: 0; z-index: -1; }
}

@-webkit-keyframes cyclethree {
   0%  { top: -125px; opacity: 0; }
   36% { top: -125px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 125px; opacity: 0; z-index: 0; }
   61% { top: -125px; opacity: 0; z-index: -1; }
   100%{ top: -125px; opacity: 0; z-index: -1; }
}

@-webkit-keyframes cyclefour {
   0%  { top: -125px; opacity: 0; }
   56% { top: -125px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 125px; opacity: 0; z-index: 0; }
   81% { top: -125px; opacity: 0; z-index: -1; }
   100%{ top: -125px; opacity: 0; z-index: -1; }
}
@-webkit-keyframes cyclefive {
   0%  { top: -125px; opacity: 0; }
   76% { top: -125px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 125px; opacity: 0; z-index: 0; }
}



/* PROGRESS BAR */

.progress-bar {
   position: relative;
   top: -5px;
   width: 385px;
   height: 5px;
   background: #000;
   -moz-animation: fullexpand 25s ease-out infinite;
   -webkit-animation: fullexpand 25s ease-out infinite;
}


/* -moz-animation BAR */

@-moz-keyframes fullexpand {
   /* In these keyframes, the progress-bar is stationary */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* In these keyframes, the progress-bar starts to come alive */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* In these keyframes, the progress-bar moves forward for 3 seconds */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* In these keyframes, the progress-bar has finished his path */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* In these keyframes, the progress-bar will disappear and then resume the cycle */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}   


#slider .tooltip {
   background: rgba(0,0,0,0.7);
   /*width: 385px;
   max-width:385px;*/
   position: relative;
   bottom: 100px;
   left: -320px;
   border:0px solid #000;
   left: 0px;}

#slider .tooltip h3 {
   color: #fff;
   font-weight: 300;
   line-height:1em;
   font-size:1.5em;
   /*padding: 0 10px;*/
   margin:0;
   text-align:left;
}

#slider .tooltip {
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip {
   left: 0px;
}

#slider:hover li,
#slider:hover .progress-bar {
   -moz-animation-play-state: paused;
   -webkit-animation-play-state: paused;
}

























@media (max-width: 576px){


	#slider .tooltip {
	  bottom: 60px;
	}

	#slider .tooltip h3 {
	  font-size: 1.3em;
	  
	}



}


@media (max-width: 481px){
	div.building_left {
		width:100%;
		min-height: 377px;
		float:none;
		
	}
	div.building_right {
		width:100%;
		min-height: 377px;
		float:none;
	}
		
	.stand_left,
	.stand_right{float:none;width:100%;clear:both;}

	#leave {
	position:relative;
	top:0;
	width:90%;
	}



	div#time_elapsed,
	div#time_remaining{
		display:block;
		width:100%;
		float:none;
	}

	form.conveyor .object,
	form.conveyor .metal {
		display:block;
		width:100%;
		float:none;
		margin:1em 0;
	}

	#slider .tooltip {
	  bottom: 0;
	}

	#slider .tooltip h3 {
	  font-size: 1em;
	  
	}



}