{#
/**
 * @file
 * Component for a skip link.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - url: [string] The url to skip to.
 * - text: [string] The link text.
 */
#}
{{ attach_library('eclecticmeme/skip-link') }}
<a href="{{ url|default('#main-content') }}" class="skip-link {{ modifier_class }}">
  {% block content %}
    {{ text|default('Skip to main content') }}
  {% endblock %}
</a>
