
/* Introduce this later
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/


a#withdraw,a#deposit,#submit_c{
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	text-decoration:none;
}
a#withdraw:hover,a#deposit:hover,#submit_c:hover{
	background:red;
}
#quantity_box_button_up {
	background: #333;
	color:#FFF;
	width:16px;
	text-align:center;
	border: 0 solid #111111;
	margin:0;
}
#quantity_box_button_down {
	background: #333;
	color:#FFF;	width:16px;
	text-align:center;
	padding:0 2px;
	border: 0 solid #111111;
	margin:0;
}
#bank_right {
	width : 50%;
	float:right;
}
#bank_left {
	width:50%;
	float:left;
}
#bank_cash {
	background:#333;
}
.q1 {
	width:30px;
}
.clr, .clear {
	clear:both;
}
div#container {
	font-family:arial;
	color:white;
}
div#building_info_table {
	float:left;
}
div#building_info_table td:first-child {
	text-transform:uppercase;
	font-size:75%;
	color:#666;
}




table.shade-table {
	width:100%;
	text-align:left;
	margin:0;
}

table.shade-table th{
	font-weight:bold;
	text-transform:uppercase;
	background:#1F1F1F;
	color:#FFF;
padding:0 0 0 15px;
vertical-align:middle;
}
table.shade-table td{
padding:0 0 0 5px;
vertical-align:middle;
}

tr.d0 td,
table.shade-table tr:nth-child(even),
.sectiontableentry1  {
background-color: #080808;
color: #ccc;
border-bottom:1px dotted #333;
}

tr.d1 td,
table.shade-table tr:nth-child(odd),
.sectiontableentry2 {
background-color: #131313;
color: #ccc;
border-bottom:1px dotted #333;
}

.cbft_image {
background-color: transparent;
border-bottom:0 dotted #333;
}







div#spec{
	margin:10px;
}
div#container {
	color:#fff;
	font-family:arial, sans-serif;
	font-size:80%;
	margin-bottom:20px;
}
div#vacant {
	width:260px;
	float:right;
	border:1px solid #333;
	padding:5px;
}
div#vacant p {
	margin:0 0 1em 0;
}
div#mine_board{
	text-align:center;
	font-weight:bold;
	margin:0;
	position:absolute;
	top:44;/*height of h3 name */
	left:0;
	z-index:111;
	width:636px;
}
div#mine_board img{
	float:none;
}
div#mine_progress {
	text-align:center;
	margin:0;
	position:absolute;
	top:44;/*height of h3 name */
	left:0;
	z-index:222;
	width:636px;}
div#mine_board p,
div#mine_progress p {
	margin:0;
}
.upgrade{
	width:28%;
	float:left;
	padding:0 3px;
	border:1px solid #333;
	margin:0 5px 0 0;
}
.upgrade:last-child{
	margin:0;
}
.upgrade_main{
	margin:5px 0;
}
div#crystals_board{
	text-align:center;
	font-weight:bold;
	background:#666;
	border:1px solid #333;
}
div#crystals_board div.insert a:link,
div#crystals_board div.insert a:visited {
	display:inline;
	float: left;
	width:66px;
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 0px 5px 10px 10px;
}
div#crystals_board div.insert a:hover {
	background:red;
	border:1px solid #fff;
}
div#crystals_board div.remove a:link,
div#crystals_board div.remove a:visited {
	display:inline;
	float: right;
	width:66px;
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 0px 10px 10px 5px;
}
div#crystals_board div.remove a:hover {
	background:red;
	border:1px solid #fff;
}
/* end JIGS.CSS early version - delete eventually */
.clr, .clear {
	clear:both;
}
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix {
	min-width: 0; 
	display: inline-block; /* \*/	
	display: block;
}
body {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;}
a:link, a:visited {
	color:#ccc;}
a:hover {color:#fff;}
/* Containers per view */
#building {
	background:#000;
	color:#fff;
	margin-bottom:10px;
}
#profile {
	background:#000;
	color:#fff;
	margin-bottom:10px;
	border:1px solid #252525;
}
#weapons {
	background:#000;
	color:#fff;
	margin-bottom:10px;
	border:1px solid #252525;
	padding:20px;
}
.weapon_swap{
	padding:5px;
	margin:0 0 10px;
	color:#fff;
	border:1px solid #252525;
	text-align:center;
}
#weapon {
	padding:5px;
	margin:0 0 10px;
	color:#fff;
	border:1px solid #252525;
	text-align:center;
}
div.weapons_left {
	width:40%;
	float:left;
}
div.weapons_right {
	width:58%;
	float:right;
}
div.weapon_swap h4 {
	color:#fff;
	background:#003535;
	text-align:center;
	margin:-5px -5px 5px;
	text-transform:uppercase;
}
div#weapons p {
	margin:0 0 10px;
}
div.building_left {
	width:60%;
	height: 377px;
	float:left;
}
div.building_right {
	width:38%;
	height: 377px;
	float:right;
}
/* Images, description, stats etc. */
div#info {
	width:100%;
	border:1px solid #252525;
	height:238px;
}
div.name {
	background:#333;
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin:0 0 10px;
	padding: 5px;
	text-transform:uppercase;
}
div.desc {
	width:60%;
	float:left;
}
div#profile div.desc {
	width:50%;
	float:left;
}
img.thumbnail {
	float: left;
	margin: 0 10px 10px;
	border: 3px solid #333;
}
p.desc {
	margin:0;
	padding: 0 5px 10px 10px;
	font-size:8pt;
	text-align:left;
}
div.stats {
	float: right;
	width: 35%;
	margin:0 10px 10px 0;
}
table.stats {
	width: 100%;
	border-left:1px solid #252525;
	border-right:1px solid #252525;
	border-top:1px solid #252525;
	white-space:wrap;
	margin:0;
}
table.stats th {
font-weight:normal;
	width: 50%;
	text-align:left;
	background:#333;
	border-bottom:1px solid #252525;
	padding: 0 2px 0 5px;
	font-size:8pt;
}
table.stats td{
	width: 50%;
	text-align:left;
	border-bottom:1px solid #252525;
	padding: 0 2px;
	font-size:8pt;
}
div#status {
	float: right;
	width: 100%;
	border:1px solid #252525;
	margin-left:10px;
	height:375px;
}
div.extra {
	width: 385px;
	height: 125px;
	border:1px solid #252525;
	margin:10px 0 0 0;
}

/* Specific management details */
div.ownership {}
p.owner {
	background:#333;
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin:0 0 10px;
	padding: 5px;
}
p.instructions {
	margin:0;
	padding:0 10px 10px;
	font-size:8pt;
}
/* Inventory */
div#inventory {overflow:auto;height:210px;}
div#inventory div.name {margin:0;padding:0 0 0 5px;text-align:left;}
div#profile+div#inventory {
	width:32%;
	float:left;
	border:1px solid #252525;
	margin:0 10px 10px 0;
}
div#inventory div.object {
display:block;float:left;
padding:2px; 
background:#000;
border:#222 dotted 1px;
margin:2px 2px 0 0;
}
div#inventory div.object a {
background:#000;
}
div#inventory div.object a:hover {
background:#111;
}
div#inventory a.buy,
div#inventory a.sell {
cursor:pointer;
background:green;
padding:0 5px;
display:inline-block;
}
div#inventory a.buy:hover,
div#inventory a.sell:hover {
background:red;
}
div#inventory a.buy:focus,
div#inventory a.sell:focus {
background:blue;
}
div#inventory span.price {
display:block;
background:#222;
color:#ccc;
font-size:85%;
}


/* Player Actions */
div#action {
	margin:0 10px 10px;
}
div.buy, div.attack, div.recruit, div.kick, div.punch, div.shoot, div.bribe, div.rob, div.talk, div.buy_battery, div.sell_battery  {
	float: left;
	background:#333;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 10px 3px 0 0;
}
div.buy:hover, div.attack:hover, div.recruit:hover, div.kick:hover, div.punch:hover, div.shoot:hover, div.bribe:hover, div.rob:hover, div.talk:hover, div.buy_battery:hover, div.sell_battery:hover {
	background:red;
	border:1px solid #fff;
	cursor:pointer;
}
a.buy, a.sell, a.attack, a.recruit, a.kick, a.punch, a.shoot, a.bribe, a.rob, a.talk, div.buy_battery a, div.sell_battery a   {
	color:#FFF;
	text-decoration:none;
}
a.buy:hover, a.sell:hover, a.attack:hover, a.recruit:hover, a.kick:hover, a.punch:hover, a.shoot:hover, a.bribe:hover, a.rob:hover, a.talk:hover, div.buy_battery a:hover, div.sell_battery a:hover {	
	color:#CCC;
	text-decoration:none;
}
/* NPC and Player Layout */
div.vitals {
	float: left;
	width: 33%;
	margin:0 10px 10px 0;
}
div.gauge {
	background: none repeat scroll 0 0 #0F0F0F;
	border: 1px solid #333;
	border-radius: 25px 25px 25px 25px;
	color: #000000;
	width: 130px;
	float:right;
	margin:5px 0;
}
div.gauge span {
	padding-left: 15px;
}
div.label {
	color:#fff;
	text-align:left;
	font-size:8pt;
	text-transform:uppercase;
	float:left;
	margin:10px 0 2px;
}
div#xp {
	background: none repeat scroll 0 0 #00FF00;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
div#intel {
	background: none repeat scroll 0 0 #FFFF00;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
div#strength {
	background: none repeat scroll 0 0 #0000FF;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
div#health {
	background: none repeat scroll 0 0 #FF0000;
	border-radius: 25px;
	padding: 0 0 0 15px;
}
/* /23\ ################ NOOB SLIDE ############*/
#building_noob.sample{padding:0 10px; margin:0 auto; border:0px solid #333;text-align:center;}
#building_noob #box5{
	position:absolute;
	width:100%;
}
#building_noob #info5{
	bottom:0;
	height:200px;
}
#building_noob .info{
	width:100%;
	background:#000;
	position:absolute;
}
#building_noob .mask2{
	position:relative;
	width:100%;
	height:180px;
	overflow:hidden;
}
div#diner_noob.sample .buttons{padding:0;background:#333;}
div#diner_noob.sample .buttons span{color:#666;border:0px solid #3F3F3F;padding:0 10px;cursor:pointer;font:80%;text-transform:uppercase}
div#diner_noob.sample .buttons span.active, 
div#diner_noob.sample .buttons span:hover{background:none;color:#fff}
/* /23\ ################ CONVEYOR ############*/
label {
	color:#fff;
	font-size:8pt;
	text-transform:uppercase;
}
#box4 div#conveyor_progress {
	height:60px;
	position:absolute;
	z-index:333;
	top:0;left:0;
	background:url(../images/jigs_loader.gif) no-repeat 50% 100% #000;
}
form.conveyor input .inputbox{
	margin-right:3px;
	border:1px solid #666;
}
#submit_c {
	display:block;
	margin:5px 10px 0;
	padding:0 10px;
	width:100px;
	float:right;}
form.conveyor select#blueprints {
	max-width:100px;
	min-width:40px;}





form.conveyor .object{
	text-align:left; 
	display:inline-block;
	width:220px;
	float:left;
	margin:0 5px 0 10px;
	padding:0 10px 10px;
	border:1px dotted #F00;
	height:72px;
}
form.conveyor .metal {
	text-align:left; 
	display:inline-block;
	width:340px;
	float:right;
	margin:0 10px 0 5px;
	padding:0 10px 10px;
	border:1px dotted #FF0;
	height:72px;
}


form.conveyor .object2{
	text-align:left; 
	display:inline-block;
	width:260px;
	float:left;
	margin:0 5px 0 10px;
	padding:0 10px 10px;
	border:1px dotted #F00;
	height:72px;
}
form.conveyor .metal2 {
	text-align:left; 
	display:inline-block;
	width:300px;
	float:right;
	margin:0 10px 0 5px;
	padding:0 10px 10px;
	border:1px dotted #FF0;
	height:72px;
}






.generator,
.batteries_inv {
width:50%;
padding:0 10px;
float:left;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}
.generator ul li,
.batteries_inv ul li {
  border-bottom: 1px dotted #333333;
  color: #CCCCCC;
  font-size: 10px;
  margin: 0;
  padding: 0 3px;
}

.generator li:nth-child(2n),
.batteries_inv li:nth-child(2n) {
  background-color: #080808;
}

.generator li:nth-child(2n+1),
.batteries_inv li:nth-child(2n+1) {
  background-color: #131313;
}




#box4 div#time_elapsed{
	text-align:center; 
	display:inline-block;
	width:300px;
	float:left;
	margin:0 5px 0 10px;
	padding:0;
	color:#FFF;border:1px solid #333;background:green;
}
	
#box4 div#time_remaining{
	text-align:center; 
	display:inline-block;
	width:300px;
	float:right;
	margin:0 10px 0 5px;
	padding:0;
	color:#FFF;border:1px solid #333;background:red;
}

#box4 ul {
	list-style-type: disc;
}
div#sell_crops  {	
	width:200px;
	background:red;
	padding:3px 10px;
	border:1px solid #fff;
	margin: 10px 3px 0 0;
	color:#FFF;
}

div#sell_crops:hover {
	background:red;
	border:1px solid #fff;
	color:#CCC;
	text-decoration:none;
}

div.work_field {text-align:center;}
div.work_field  img{float:none !important;}

div#batteries .label,
div#metal .label,
div#inventory .label,
div#stats .label ,
div#inventory_module .label,
div#stats_module .label,
div#weapon_module .label {
	text-align:left;
	display:inline-block;
	text-transform: uppercase;
	font-size: 85%;
	font-weight: bold;
	color:#999;
	margin:0 5px 0 0;
}

div#weapon_module a {
	text-align:center;
	display:block;
	margin:0 auto;
}

/* Apartment Layout */
#leave {
	background:#FF0000;
	cursor:pointer;
	position:relative;
	top:30%;
	left:0;
	width:150px;
	text-align:center;
	z-index:999;
	padding:10px 20px;
	-moz-border-radius: 0px 20px 20px 0;
	-webkit-border-radius: 0px 20px 20px 0;
	border-radius: 0px 20px 20px 0;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}
#leave:hover {
	background:green;
}
.apt_bg {
	background:url(http://www.eclecticmeme.com/components/com_battle/images/interior.jpg) 50% 0 no-repeat #000;
	height:600px;}
.ward_bg {
	background:url(http://www.eclecticmeme.com/components/com_battle/images/ward.jpg) 50% 0 no-repeat #000;
	height:600px;}
.ward_bg p {
	background:#333;
	padding:5px 10px;}
div#eat_burger {
	cursor:pointer;
	width:600px;
	margin:0 auto;
}
.board_buttons #primary {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) 0 0 no-repeat #000;
}
.board_buttons #primary:hover,
.board_buttons #primary.active {
	background:url(../images/buildings/board_sprites.png) 0 -40px no-repeat #000;
}
.board_buttons #distr {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -40px 0 no-repeat #000;
}
.board_buttons #distr:hover,
.board_buttons #distr.active  {
	background:url(../images/buildings/board_sprites.png) -40px -40px no-repeat #000;
}
.board_buttons #defence {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -80px 0 no-repeat #000;
}
.board_buttons #defence:hover, 
.board_buttons #defence.active {
	background:url(../images/buildings/board_sprites.png) -80px -40px no-repeat #000;
}
.board_buttons #hr {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -120px 0 no-repeat #000;
}
.board_buttons #hr:hover,
.board_buttons #hr.active  {
	background:url(../images/buildings/board_sprites.png) -120px -40px no-repeat #000;
}
.board_buttons #energy {
	height:40px;
	width:40px;
	background:url(../images/buildings/board_sprites.png) -160px 0 no-repeat #000;
}
.board_buttons #energy:hover,
.board_buttons #energy.active  {
	background:url(../images/buildings/board_sprites.png) -160px -40px no-repeat #000;
}



.black {
color:#000;}
.highlight{
color:#000;background:#666;
padding:0 2px; margin:0 2px;}
.red{
color:#000;background:red;
padding:0 2px; margin:0 2px;}
.red a{
color:#000;font-weight:bold;text-decoration:none;}





div#flats {overflow:auto;height:210px;}
div#flats div.name {
  margin: 0;
  padding: 0 0 0 5px;
  text-align: left;
}
div#flats div {float:left;display:inline-block;}
div#flats div.row {float:none;display:block;clear:both;  text-align: left;
}

div#flats div.row div:first-child {width:100px;}
div#flats div.row div:nth-child(2) {width:20px; padding: 0 0 0 5px;}
div#flats div.row div:nth-child(3) {width:320px; padding: 0 0 0 10px;}
div#flats div.row div:last-child {width:175px; padding: 0 0 0 5px;}

div#flats h4 {
margin:0;
text-align:center;
}
div#flats h4 a {
background:red;
color:white;
display:block;
border-bottom:1px solid #333;
padding:0 3px;
}
div#flats h4 a:hover {
text-decoration:none;
}

/* ends with" substring matching attribute selector - Click here to rent = Vacant */
div#flats h4 a[title$="Rent"]{
background:green;
}

/*
 #demo { 
  background:#fa0000; 
  color:#fff; 
  padding:0px; 
  border:1px solid #000;
  width:37px;
  height:37px;
position:absolute;
z-index:1;
}
.character { 
  background:#fa0000; 
  color:#fff; 
  padding:0px; 
  border:1px solid #000;
  width:48px;
  height:48px;
position:absolute;
z-index:888;
}

.character a { 
display:block;
}
.character a img.npc { 
display:block;
}



#demo  {
-webkit-transition: z-index 1s ease-in-out;
-moz-transition: z-index 1s ease-in-out;
-o-transition: z-index 1s ease-in-out;
transition: z-index 1s ease-in-out;
}


#demo:hover {
z-index:999;
}

.character a img.npc{
-webkit-transition: z-index 1s ease-in-out;
-moz-transition: z-index 1s ease-in-out;
-o-transition: z-index 1s ease-in-out;
transition: z-index 1s ease-in-out;
}
.character a img.npc:hover {
z-index:1;
}

*/


/* Tooltips */
.tip-title {font-weight: bold;}


.tip-wrap {    z-index: 10000;

background-color:rgb(185,224,247);
color:rgb(0,52,107);
}
.tip {
background-color:rgb(185,224,247) !important;
border: 1px solid rgb(0,52,107);
   padding: 5px;
   max-width: 200px;
text-align:left;   float: left;
}



div#messages {
padding-top:5px;
/*max-height:180px;
overflow-y:auto;*/
}


div#messages p {
color: #ccc;
border-bottom:1px dotted #333;
margin:0;
padding:0 3px;
font-size:10px;
}

div#messages p[display=table-row] {
border-bottom:1px dotted #009999;
animation: fadeout 5s;
-moz-animation: fadeout 5s; /* Firefox */
-webkit-animation: fadeout 5s; /* Safari and Chrome */
-o-animation: fadeout 5s; /* Opera */
}

div#messages p:nth-child(odd) {
background-color: #080808;
}

div#messages p:nth-child(even) {
background-color: #131313;
}



@keyframes fadeout
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
}

@-moz-keyframes fadeout /* Firefox */
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
}

@-webkit-keyframes fadeout /* Safari and Chrome */
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
}

@-o-keyframes fadeout /* Opera */
{
from {background:#009999;color:#fff;}
to {background: transparent;color:#ccc;}
} 







/* NPC - new compact layout */








div.owner_status_msg {
  border: 1px solid #333333;
  margin: 0;
  padding: 0;
  min-height:165px
}


div.owner_status_msg.owned {
background:url(../images/nova_police.jpg) no-repeat 0 0 #000;
}
div.factory.owner_status_msg.not_owned {
background:url(../images/buy_factory.jpg) no-repeat 0 0 #000;
}


div.buildings_class,
div.pages_class,
div.character,
div.players{
cursor:pointer;
}


input[type="button"]{
background: #009999;
color:#000000;
border: 1px solid #333333;
}

input[type="button"]:hover{
background: #00FFFF;
color:#000000;
border: 1px solid #333333;
}







/* Single Map view */


#demo { 
background-color:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:48px;
height:48px;
position:absolute;
z-index:999;
}
.character { 
background:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:48px;
height:48px;
position:absolute;
z-index:111;
}
.players { 
background:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:48px;
height:48px;
position:absolute;
z-index:111;
}








.buildings_class { 
color:#fff; 
padding:0px; 
border:0px solid #000;
width:37px;
height:37px;
position:absolute;
z-index:999;
}
.pages_class { 
background:#fa0000; 
color:#fff; 
padding:0px; 
border:1px solid #000;
width:37px;
height:37px;
position:absolute;
z-index:1;
}
#world a { /*right,left,up,down*/
font-weigth:400;
color:#fff;
text-transform: uppercase;
font-size: 0.85em;
}

a#move_demo {cursor:pointer;}

a.up {
display:block;width:54px;height:18px;float:left;background:url(/components/com_battle/views/single/tmpl/up.png) transparent 50% 0 no-repeat;text-align:center;}
a.right {
display:block;width:18px;height:18px;float:left;background:url(/components/com_battle/views/single/tmpl/right.png) transparent 100% 0 no-repeat;text-align:right;}
a.down {
display:block;width:54px;height:18px;float:left;background:url(/components/com_battle/views/single/tmpl/down.png) transparent 50% 0 no-repeat;text-align:center;}
a.left {
display:block;width:18px;height:18px;clear:both;background: url(/components/com_battle/views/single/tmpl/left.png) transparent 0 0 no-repeat;text-align:left;}
a.mid {
background:#009999;
width:18px;
height:18px;
float:left;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
a.mid:hover {background:#00FFFF;}

a.up:hover{background-image:url(/components/com_battle/views/single/tmpl/up-hover.png);}
a.right:hover{background-image:url(/components/com_battle/views/single/tmpl/right-hover.png);}
a.down:hover{background-image:url(/components/com_battle/views/single/tmpl/down-hover.png);}
a.left:hover{background-image:url(/components/com_battle/views/single/tmpl/left-hover.png);}





#world{
margin: 0 auto; 
text-align:center;
position:relative;
width: 100%;
}

.compass{width:54px;height:54px;margin:0 15px 0 0;float:left;}


@media (max-width: 768px){
	.compass{
	float:none;
	margin:0 auto;
	}
}

@media (max-width: 768px){
	.compass{
	width:108px;
	height:108px;
	}
	
	.compass a{
	background-size:contain;
	}
		
	a.up{width:108px;height:36px;}
	a.left,
	a.mid,
	a.right{width:36px;height:36px;}
	a.down{width:108px;height:36px;}

}	

#screen_grid{
width:400px;
height:400px;
margin: 0 auto; 
text-align:center;
background:#000;
position:relative;
}

#demo{
 background-size:cover;
 background-position:50% 50%;background-size:cover; 
}


.players{
 /*width:50px;
 height:50px;*/
 min-width:24px;
 min-height:24px;
 max-width:50px;
 max-height:50px;
 background-size:cover;
 background-position:50% 50%;
 }
 
 
.squares{
	display:inline; 
	position:absolute; 
	width:40px; 
	height:40px; 
	padding:5px;
	margin:0px;
	text-align:center;
}
 





