<!DOCTYPE html>
<head>	
 <style type="text/css" media="screen">
body {
background: black;
text-align: center;
color: #DDD;
font-family: Arial;
}
 
.controls {
color: #BBB;
}
 
#cr-stage { margin: 20px auto 0; }
 
.bottom {
font-size: 12px;
color: #888;
margin-top: 50px;
}
 
.bottom a {
color: #AAA;
}
</style>


				




	<link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.14.0.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.14.0.js"></script>	



</head>
<body>

		<h1 id="qunit-header">Crafty: TiledMapBuilder</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>
</body>
<script src="../lib/crafty.js"></script>
<script src="src/components.js"></script>
<script src="src/game.js"></script>
<script src="src/scenes.js"></script>


<script src="src/source.js"></script>
		<script src="src/modules/create_mocks_module.js"></script>
		<script src="src/tiledmapbuilder.js"></script>


</html>

